{% extends 'staff_listing_layout_9_3_bs4.html' %}
{% load render_table from django_tables2 %}

{% block container %}
    <div class="col-9">
        {% block center %}
            <div class="section">
                {% for title, id, progs in qualifications %}
                    <h3 id="{{ id }}">{{ title }}</h3>
                    <div class="container">
                        {% for prog in progs %}
                        <div id="accordion" class="accordion">
                            <div class="card mb-0">
                                <div class="card-header collapsed" data-toggle="collapse" href="#collapse{{ prog.id }}">
                                    <a class="card-title"><b>{{ prog.title }}</b><br><a href="mailto:{{ prog.email }}"><i class="fas fa-envelope text-muted"></i> {{ prog.email }}</a> {% if prog.email %}<i class="fas fa-phone text-muted"></i> {{ prog.phone }}{% endif %}</a>
                                </div>
                                <div id="collapse{{ prog.id }}" class="card-body collapse" data-parent="#accordion">
                                    <h6><i class="fas fa-user-friends"></i> Staff</h6>
                                    <div class="row">
                                        <div class="col-6">
                                            {% for progstaff in prog.programme_staff_set.all %}
                                                {% if progstaff.staff.get_full_name %}
                                                    <p><a href="{% url 'staff_listing:profile' progstaff.staff.id %}">{{ progstaff.staff.get_full_name }}</a> - {{ progstaff.role }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-6">
                                            {% if prog.division.manager.get_full_name %}
                                                <p><a href="{% url 'staff_listing:profile' prog.division.manager.id %}">{{ prog.division.manager.get_full_name }}</a> - Manager</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <br>
                            {% endfor %}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        {% endblock %}
    </div>

    <div class="col-3">
		{% block right_sidebar %}
            <div class="section">
                {% for label,id,quals in programmes.structure %}
                    <li>{{ label }}-{{ id }}-{{ quals }}</li>
                {% endfor %}
            </div>
		{% endblock %}
    </div>
{% endblock %}
