<html>
    <body style="font-family: Calibri, Arial, sans-serif, 'Open Sans'">
        <p>
            Leaver details <br/>
            ================== <br>
            <b>{{leaver.firstname}} {{leaver.lastname}}</b><br/>
            SSO: {{leaver.sso}}<br/>
            Finishing: {{leaver.finish_date|date}}<br/><br>

            Data Management
            ================== <br>
            Transfer to: {{leaver.transfer_to}}<br>
            Archive for: {{leaver.archive_for}}<br>
        </p>
    </body>
</html>
