root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 119
tab_width = 4
trim_trailing_whitespace = true

[{*.sass, *.scss}]
indent_size = 2

[*.json]
indent_size = 2

[{*.yaml,*.yml}]
indent_size = 2

[*.md]
# auto-soft-wrap in PyCharm, et
ij_any_wrap_long_lines = true

[dependencies.txt]
insert_final_newline = false
