# python runtime files
__pycache__/
*.py[cod]

# configs and secrets
secrets.*
*.env

# IDE folders
.vscode
.idea/

# environment management
Pipfile*
.venv
venv

# media folders
media/
protected_media/

*.pkl
