<p>
    All weekly class students may become borrowing members of the Rewley House Continuing Education Library for the
    duration of their course.
    Prospective students whose courses have not yet started are welcome to use the Library for reference. More
    information can be found on the <a href="http://www.bodleian.ox.ac.uk/conted">Library website.</a>
</p>
<p>
    There is a <a href="http://ox.libguides.com/conted-weeklyclass">Guide for Weekly Class students</a> which will
    give you further information.
</p>
{% block solo %}
<p>
    You will need to buy the coursebook which will be required throughout the course.
    Books labelled as optional (below) may be available from the library and can be checked on
    <a href="http://solo.bodleian.ox.ac.uk/">SOLO</a>, the library catalogue.
</p>
{% endblock %}
<p><a href="/courses/reading-list/{{ module.id }}">Recommended Reading List</a></p>
