{% extends 'layout.html' %}
{% load redpot_tags %}

{% block center %}

<div class="section">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {% edit_button object %}
            <h2>Details</h2>
            <hr>
            <dl class="row">
                <dt class="col-4">Student</dt>
                <dd class="col-8 mb-0">
                    <a href="{{ object.student.get_absolute_url }}">{{ object.student }}</a>
                </dd>
                <dt class="col-4">Programme</dt>
                <dd class="col-8 mb-0">
                    <a href="{{ object.programme.get_absolute_url }}">{{ object.programme }}</a>
                </dd>
                <dt class="col-4">Title</dt>
                <dd class="col-8 mb-0">{{ object.title }}</dd>
                <dt class="col-4">Start date</dt>
                <dd class="col-8 mb-0">{{ object.start_date | default:'–' }}</dd>
                <dt class="col-4">End date</dt>
                <dd class="col-8 mb-0">{{ object.end_date | default:'–' }}</dd>
                <dt class="col-4">Entry qualification</dt>
                <dd class="col-8 mb-0">{{ object.entry_qualification | default:'–' }}</dd>
                <dt class="col-4">Reason for ending</dt>
                <dd class="col-8 mb-0">{{ object.reason_for_ending | default:'–' }}</dd>
                <dt class="col-4">SITS code</dt>
                <dd class="col-8 mb-0">{{ object.sits_code | default:'–' }}</dd>
            </dl>
        </div>

        <div class="col-sm-12 col-md-6">
            {% if object.programme.is_certhe %}
                <hr class="d-block d-md-none">
                {% url 'qualification_aim:certhe-marks' object.id as certhe_url %}
                {% edit_button certhe_url %}
                <h2>Cert. HE marks</h2>
                <hr>
                {% if object.certhe_marks %}
                    <dl class="row">
                        <dt class="col-4">Courses transferred in</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.courses_transferred_in | default:'–' }}</dd>
                        <dt class="col-4">Credits transferred in</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.credits_transferred_in | default:'–' }}</dd>
                        <dt class="col-4">Cert HE subject</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.subject | default:'–' }}</dd>
                        <dt class="col-4">Assignment 1 date</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.assignment1_date | default:'–' }}</dd>
                        <dt class="col-4">Assignment 1 grade</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.assignment1_grade | default:'–' }}</dd>
                        <dt class="col-4">Assignment 2 date</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.assignment2_date | default:'–' }}</dd>
                        <dt class="col-4">Assignment 2 grade</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.assignment2_grade | default:'–' }}</dd>
                        <dt class="col-4">Assignment 3 date</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.assignment3_date | default:'–' }}</dd>
                        <dt class="col-4">Assignment 3 grade</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.assignment3_grade | default:'–' }}</dd>
                        <dt class="col-4">Journal 1 date</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.journal1_date | default:'–' }}</dd>
                        <dt class="col-4">Journal 2 date</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.journal2_date | default:'–' }}</dd>
                        <dt class="col-4">Journal CATS points</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.journal_cats_points | default:'–' }}</dd>
                        <dt class="col-4">Introductory course</dt>
                        <dd class="col-8 mb-0">{{ object.certhe_marks.is_introductory_course | yesno | title }}</dd>
                    </dl>
                {% else %}
                    None
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% timestamp object %}
</div>

<div class="section">
    <a id='enrolments' class='nav-anchor'></a>
    <div class="float-end">
        <a href="{% url 'enrolment:create' object.id %}" class="btn btn-success btn-xs">
            <span class="fas fa-plus"></span> Add enrolment
        </a>
    </div>

    <h2>Enrolments ({{ enrolments|length }})</h2>
    <table class="table table-striped table-hover hide-rows" data-display=5>
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Status</th>
                <th>Result</th>
                <th>Points</th>
                <th>Start date</th>
                <th></th>
            </tr>
        </thead>
        {% for row in enrolments %}
            <tr>
                <td class="col-xs-1">
                    <a href="{{ row.module.get_absolute_url }}">{{ row.module.code }}</a>
                </td>
                <td>
                    <a href="{{ row.module.get_absolute_url }}">{{ row.module.title }}</a>
                </td>
                <td class="col-xs-2">{{ row.status }}</td>
                <td class="col-xs-2">{{ row.result }}</td>
                <td class="col-xs-1">{{ row.points_awarded | default:'–' }}</td>
                <td class="col-xs-2">{{ row.module.start_date }}</td>
                <td class="col-xs-1">
                    <a href="{{ row.get_absolute_url }}">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
