<div style="font-family:Calibri;">
    <p>Dear {{firstname}},</p>
    <p>Please remember to complete a short questionnaire about <i><b>{{module_title}}.</b></i></p>
    <p>Your feedback is appreciated and will be used to help improve the student experience.</p>
    <div style="padding:5px 0 15px 0">
        <table style="min-width:200px;">
            <tr>
                <td style="background-color:#be0f34;text-align:center;padding:15px">
                    <a style="font-family:Calibri;text-decoration:none;color:white;"
                       href="{{ PUBLIC_APPS_URL }}/feedback/submit/{{ module_id }}/{{ hash_id }}"
                    >
                        <strong style="text-decoration:none; color: #FFFFFF;">View questionnaire</strong>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <p>Department for Continuing Education, University of Oxford</p>
</div>
