<html>
<!--Called when comment added via internal apps-->
<div style="font-family:Calibri;">
<p>Dear {{tutor_firstname}},</p>
<p>Attached you will find the feedback for your {{ title }}-{{ code }} class,
    {% if portfolio == 17 or portfolio == 32 %}
    which has been reviewed by your Director of Studies.</br>
    If you should have any queries or concerns regarding the feedback please discuss this with your DoS.</br>
        {% if portfolio == 17 %}
        The TALL feedback can be found on <a href='https://portal.conted.ox.ac.uk'>the Portal</a>.
        {% endif %}
    {% else %}
    which has been reviewed by the course administrator.
    If you should have any queries or concerns regarding the feedback please reply to this email.
    {% endif %}
</p>
{% if portfolio == 32 %}
    <p>
    Kind regards,</br>
    Mr Robin Staniland</br>
    Weekly Classes Programme Officer</br>
    University of Oxford </br>
    Department for Continuing Education</br>
    Ewert House, </br>
    Ewert Place </br>
    Summertown, </br>
    Oxford, </br>
    OX2 7DD</br>
    t: +44 (0)1865 280894</br>
    f: +44 (0)1865 280975</br>
    e: <a href="mailto:ppweekly@conted.ox.ac.uk">ppweekly@conted.ox.ac.uk</a></br>
    w: <a href="http://www.conted.ox.ac.uk">http://www.conted.ox.ac.uk</a></br>
    </p>
{% elif portfolio == 17 %}
    <p>
    Thank you for all your hard work last term.</br>
    Best wishes,</br>
    The Online Courses Team</br>
    Online courses office</br>
    University of Oxford</br>
    Department for Continuing Education</br>
    </p>
{% else %}
    <p>
    Best wishes,
    Department for Continuing Education</br>
{% endif %}
</p>
</div>
</html>
