{# todo: consider turning this into a generic (if generic formsets get much use) #}
{% extends 'layout.html' %}
{% load redpot_tags %}
{% load widget_tweaks %}

{% block center %}
    <div class="section">

        {{ lookup_form.media }}
        <form method="get" action="{% url 'module:award-points' %}">
            <div class="col-10">
                <div class="input-group">
                    {% render_field switch_module_form.module class+="form-control" %}
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-fw fa-arrow-right"></i> Switch module
                    </button>
                </div>
            </div>
        </form>
        {{ switch_module_form.media }}
    </div>

    <div class='section'>
        <div class='row'>
            <div class='col-8'>
                <form action="" enctype="multipart/form-data" method="post">
                    {# form is actually a formset #}
                    {{ form.management_form }}
                    {% for err in form.non_form_errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class='fa fa-fw fa-exclamation-circle'></span>
                            {{ err }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}

                    {% for subform in form %}
                        {# todo: consider using inline form layout here #}
                        <div class="row">
                            <div class="col-3">
                                <label class="fw-bold col-form-label">
                                    {{ subform.instance.qa.student }}
                                </label>
                            </div>
                            <div class="col-9">
                                {% bootstrap_form subform True %}
                            </div>
                            {% if not forloop.last %}<hr>{% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {% bootstrap_submit form.submit_label|default:'Save' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ form.media }}
{% endblock %}
