{% extends 'core/form.html' %}
{% block center %}
<div class="section">
    <h3>{{module.title}} <small>({{module.code}})</small></h3>

    Cancellation will disable:
    <ul>
        <li>Online booking</li>
        <li>Feedback collection</li>
        <li>Pre-course reminder emails</li>
    </ul>
    {% if future_fees %}
    <hr>
    <h5>This course has outstanding tutor fees.  You may wish to cancel them after cancelling the course:</h5>
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Details</th>
            <th>Pay on/after</th>
        </tr>
        {% for fee in future_fees %}
            <tr>
                <td>{{fee.tutor_module.tutor.student.firstname | upper}} {{ fee.tutor_module.tutor.student.surname | upper}}</td>
                <td>£{{ fee.amount }}</td>
                <td>{{ fee.details }}</td>
                <td>{{ fee.pay_after }}</td>
            </tr>
        {% endfor %}

    </table>

    {% endif %}
    <div class="alert alert-danger">
        <b>Caution!</b>
        Are you sure you wish to cancel this course?
    </div>
    <a href="{% url 'module:view' module.id %}" class="btn btn-outline-dark"><span class="fa fa-arrow-left"></span> Back</a>
    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal float-end">
        {% csrf_token %}
        <button class="btn alert-danger pull-right" type="submit"><span class="fas fa-times"></span> Cancel</button>
    </form>
{% endblock %}
