{# todo: consider turning this into a generic (if generic formsets get much use) #}
{% extends 'layout_bs5.html' %}
{% load redpot_tags %}
{% block center %}
    <div class='section'>
        <div class='row'>
            <div class='col-xs-8'>
                <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
                    {# form is actually a formset #}
                    {{ form.management_form }}
                    {% for err in form.non_form_errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class='fa fa-fw fa-exclamation-circle'></span>
                            {{ err }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}

                    {% for subform in form %}
                        {# todo: consider using inline form layout here #}
                        {% bootstrap5form subform True %}
                        {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {% bootstrap3submit form.submit_label|default:'Save' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ form.media }}
{% endblock %}
