{% extends 'layout.html' %}
{% load redpot_tags %}
{% load widget_tweaks %}

{% block center %}
    <div class='section'>
        <h2>Clone an existing module</h2>
        <form action="{% url 'module:clone' %}" enctype="multipart/form-data" method="get">
            <div class="col-10">
                <div class="input-group">
                    {% render_field lookup_form.module class+="form-control" %}
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> Clone
                    </button>
                </div>
            </div>
        </form>
        {{ lookup_form.media }}

        <div class="horizontal-divider"><span>OR</span></div>

        <h2>Start from scratch</h2>
        <div class='row'>
            <div class='col-8'>
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form status_classes=False %}
                    {% bootstrap_submit %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
