{% extends 'layout.html' %}
{% load redpot_tags %}
{% load render_table from django_tables2 %}

{% block title %} Module {% endblock %}
{% block subtitle %} Search {% endblock %}

{% block center %}

<div class="section">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<form action="" class='form-horizontal'>
				{% bootstrap3form filter.form True %}
				{% bootstrap3submit 'Search' %}
			</form>
		</div>
	</div>
</div>
{% if request.GET %}
	<div class="section">
		{% if table.rows %}
			<h3>Search results ({{ table.rows|length }})</h3>		
			{% render_table table %}
		{% else %}
		<div class="empty-state">
            <span class="fa fa-ban empty-state-icon"></span>
            <h4>No results found</h4>
            <h5>
            Try broadening your query and search again
            </h5>            
		</div>
		{% endif %}
	</div>
{% endif %}
{% endblock %}