{% extends 'layout_9_3.html' %}
{% load redpot_tags %}
{% load tutor_module_tags %}
{% load render_table from django_tables2 %}

{% block right_sidebar %}
<div class="hidden-xs affix-top" data-spy="affix" data-offset-top="105" id="sidebar">
    <ul class="nav sidenav">
    </ul>
</div>
{% endblock %}

{% block center %}

<div class="section">
    {% if module.is_cancelled %}
        <div class="section-alert-header alert-danger" role="alert">
            <i class="fa fa-exclamation-circle"></i>
            <b>Course cancelled</b>
        </div>
    {% endif %}
    <div class='row'>
        <div class='col-md-4 col-md-push-7'>
            <h4>Dates</h4>
            <dl class="dl-horizontal">
                <dt>Start date</dt>
                <dd>{{ module.start_date | date:'j M Y (l)' }}</dd>
                <dt>End date</dt>
                <dd>{{ module.end_date | date:'j M Y (l)' }}</dd>

                <dt>Start time</dt>
                <dd>{{ module.start_time | default:'–'  }}</dd>
                <dt>End time</dt>
                <dd>{{ module.end_time | default:'–'  }}</dd>
                {% if module.meeting_time %}
                    <dt>meeting_time</dt>
                    <dd>{{ module.meeting_time }}</dd>
                {% endif %}
                <dt>Open date</dt>
                <dd>{{ module.open_date | default:'–' }}</dd>
                <dt>Closed date</dt>
                <dd>{{ module.closed_date | default:'–'  }}</dd>

                {% if module.auto_publish %}
                    <dt>Publish date</dt>
                    <dd>{{ module.publish_date | default:'–'  }}</dd>
                    <dt>Unpublish date</dt>
                    <dd>{{ module.unpublish_date | default:'–'  }}</dd>
                {% endif %}
                {% if module.michaelmas_end or module.hilary_start %}
                    <dt>michaelmas_end</dt>
                    <dd>{{ module.michaelmas_end | default:'–'  }}</dd>
                    <dt>hilary_start</dt>
                    <dd>{{ module.hilary_start | default:'–'  }}</dd>
                {% endif %}
            </dl>

            <h4>Location</h4>
            <dl class="dl-horizontal">
                <dt>Location</dt>
                <dd>{{ module.location }}</dd>
                {% if module.room %}
                    <dt>Room</dt>
                    <dd>{{ module.room }}</dd>
                {% endif %}
            </dl>

            <h4>Marketing types <small>
                <a href="/marketing_type/{{ module.id }}"><i class="fas fa-pencil-alt"></i></a>
            </small></h4>
            {% for marketing_type in marketing_types %}
                <span class='label label-info'>{{ marketing_type }}</span>
            {% endfor %}

            <h4>Subjects
                <small><a href="/subject/{{ module.id }}">
                    <i class="fas fa-pencil-alt"></i>
                </a></small>
            </h4>
            <p>
            {% for subject in subjects %}
                <span class='label label-warning'>{{ subject }}</span>
            {% endfor %}
            </p>
            {% if not module.non_credit_bearing and not module.hecos_subjects %}
                <p><span class="text-danger fa fa-exclamation-triangle"></span> <b>This module has no HESA-reporting subjects set</b></p>
            {% endif %}
        </div>

        <div class='col-md-6 col-md-pull-4'>
            <hr class='visible-xs visible-sm'>
            {% edit_button module.get_edit_url %}
            <a id='details' class='nav-anchor'></a>
            <h2>Details</h2>

            <dl class="dl-horizontal">
                <dt>URL</dt>
                <dd>{{ module.url }}</dd>
                <dt>Division</dt>
                <dd>{{ module.division }}</dd>
                <dt>Portfolio</dt>
                <dd>{{ module.portfolio }}</dd>
                <dt>Format</dt>
                <dd>{{ module.format | default:'–' }}</dd>
                <dt>Finance code</dt><dd>{{ module.finance_code | default:'–' }}</dd>
                <dt>Class size</dt>
                <dd>{{ module.max_size }}</dd>
                {% if module.no_meetings %}
                    <dt># of meetings</dt>
                    <dd>{{ module.no_meetings }}</dd>
                {% endif %}
                {% if module.credit_points %}
                    <dt>Credit points</dt>
                    <dd>{{ module.credit_points }}</dd>
                {% endif %}
                {% if module.apply_url %}
                    <dt>Apply URL</dt>
                    <dd>{{ module.apply_url }}</dd>
                {% endif %}
                <dt>Email</dt>
                <dd>{{ module.email | default:'–' }}</dd>
                <dt>Phone</dt>
                <dd>{{ module.phone | default:'–'  }}</dd>
                {% if module.note %}
                    <dt>Note</dt>
                    <dd>{{ module.note }}</dd>
                {% endif %}
            </dl>

        </div>
    </div>
    <br/>
    {% timestamp module %}
</div>

<div class="section">
    <div class="row">
        <div class="col-md-12">
          <a id='web_publication' class='nav-anchor'></a>
          <h2>Web publication</h2>
            {% if module.is_publishable %}
                <h5>This course can be published</h5>
            {% else %}
                <h5>This course cannot be published</h5>
                <p>
                    {% for error in module.publish_errors.values %}
                    <span class="text-danger"><i class="fas fa-fw fa-times"></i>
                        {{ error }}
                    </span><br/>
                    {% endfor %}
                </p>
            {% endif %}
            <!--validation for annual prospectus publication-->
            {% if module.prospectus_check.included %}
                {% if module.prospectus_check.success %}
                    <p>
                        <span class="text-success">
                            <i class="fas fa-check text-success"></i>
                            This course will be included in the {{ module.prospectus_check.year }} prospectus
                        </span>
                    </p>
                {% else %}
                    <h5>This course is not yet eligible for the {{ module.prospectus_check.year }} prospectus</h5>
                    {% for error in module.prospectus_check.errors.values %}
                        <span class="text-danger"><i class="fas fa-fw fa-times"></i>
                            {{ error }}
                        </span><br/>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div> <!-- End of Col-md-12 div-->

      <div class="col-md-4">
          <p>Publishing Type </p>
          {% if module.auto_publish %}
            <div class="btn-group">
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-cog"></i>
                    Automatic
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a role="button"
                           data-api-field="auto_publish"
                           data-api-value="false"
                           data-on-success="reload"
                        >
                            <i class="fas fa-user"></i> Manual
                        </a>
                    </li>
                </ul>
            </div>
          {% else %}
            <div class="btn-group">
                <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-fw fa-user"></i>
                    Manual
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a role="button"
                           data-api-field="auto_publish"
                           data-api-value="true"
                           data-on-success="reload"
                        >
                            <div class="context-menu-item" >
                                <i class="fas fa-fw fa-cog fa-pull-left"></i>
                                <div class="description">
                                    <strong>Automatic</strong>
                                    <span>The course will be published and unpublished on the set dates. Its status
                                        will be changed according to the open, closed, start, and end dates.
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
          {% endif %}

        {% if module.is_published %}
            <div class="btn-group">
                <a role="button"
                   class="btn btn-success dropdown-toggle {% if module.auto_publish %}disabled{% endif %}"
                   data-toggle="dropdown"
                >
                    <i class="fas fa-fw fa-play"></i>
                    Published
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a role="button"
                           data-api-field="is_published"
                           data-api-value="false"
                           data-on-success="reload"
                        >
                            <i class="fas fa-fw fa-stop"></i> Unpublish
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="btn-group">
                <a role="button"
                   class="btn btn-danger dropdown-toggle {% if module.auto_publish or not module.is_publishable %}disabled{% endif %}"
                   data-toggle="dropdown"
                >
                    <i class="fas fa-fw fa-stop"></i>
                    Unpublished
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a role="button"
                           data-api-field="is_published"
                           data-api-value="true"
                           data-on-success="reload"
                        >
                            <i class="fas fa-fw fa-play"></i> Publish
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
      </div>
      <div class="col-md-5">
        <p>Course Status</p>
        <a href="#"
           class="btn btn-primary {% if module.auto_publish %}disabled{% endif %}"
           data-toggle="dropdown"
        >
            {{ module.status }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% for status in statuses %}
                <li>
                    <a role="button"
                       data-api-field="status"
                       data-api-value="{{ status.id }}"
                       data-on-success="reload"
                    >
                        {{ status }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ module.get_website_url }}" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Webpage">
            <i class="fas fa-fw fa-globe"></i> Webpage
        </a>
      </div>
      <div class="col-md-3">
          <p>Reports and Tools</p>
          <div class="btn-group" role="group">
                <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Reports">
                    <a target="_blank" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-fw fa-file-alt"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://square/reports/report/Finance/Financial%20report%20per%20module?code={{ module.code }}" target="_blank"><span class="fas fa-fw fa-pound-sign"></span> Financial statement</a></li>
                        <li><a href="financial_statement', args=[module.id, 'summary']"><span class="fas fa-fw fa-pound-sign"></span> Financial statement (summary)</a></li>
                        <li><a href="catering/{{ module.id }}"><span class="fas fa-fw fa-utensils"></span> Catering</a></li>
                        <li><a href="accommodation/{{ module.id }}"><span class="fas fa-fw fa-hotel"></span> Accommodation</a></li>
                        <li><a href="module', 'refund_request/{{ module.id }}"><span class="fas fa-fw fa-pound-sign"></span> Refund request (.docx)</a></li>
                        <li><a href="class_register/{{ module.id }}"><span class="fas fa-fw fa-file-word"></span> Class register (.docx)</a></li>
                        {# todo: better portfolio logic, relying on tags #}
                        {% if module.portfolio  in '32, 17' %}
                        <li><a href="syllabus/{{ module.id }}"><span class="fas fa-fw fa-th-list"></span> Weekly class syllabus</a></li>
                        {% endif %}
                        {% if module.portfolio_id == 32 %}
                        <li><a href="WWW_ADDRESS+'/courses/reading-list-pdf/'+module.code"><span class="fas fa-fw fa-file-word"></span> Reading list for students (.pdf)</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'module:student-list' module.id %}"><span class="fas fa-fw fa-file-excel"></span> Student list (.xlsx)</a></li>
                        {% if module.portfolio_id == 17 %}
                        <li><a href="{% url 'module:moodle-list' module.id %}"><span class="fas fa-fw fa-file-excel"></span> Moodle student list (.xlsx)</a></li>
                        {% endif %}
                        {% if module.code|slice:'-3:' == 'HEC' %}
                        <li><a href="student','certhe_progress', args=(0,module.id)"><span class="fas fa-fw fa-certificate"></span> CertHE progress report (.docx)</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="btn-group" data-toggle="tooltip" data-placement="top" title="More Tools">
                    <a target="_blank" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'module:assign-moodle-ids' module.id %}"><span class="fas fa-fw fa-id-card"></span> Assign Moodle IDs</a></li>
                        <li><a href="award_points/{{ module.id }}"><span class="fas fa-fw fa-graduation-cap"></span> Award CATS points</a></li>
                        <li><a href="{% url 'module:clone' module.id %}"><span class="fas fa-fw fa-clone"></span> Clone this module</a></li>
                        <li><a href="{% url 'module:copy-web-fields' module.id %}"><span class="fas fa-fw fa-paste"></span> Copy web fields</a></li>
                        <li><a href="import_from_template/{{ module.id }}"><span class="fas fa-fw fa-upload"></span> Import students from template</a></li>
                        {% if perms.cabs and module.portfolio == 32 and module.room and module.room_setup %}
                            {# todo: handle this logic better (elsewhere as can_send_to_cabs or something) #}
                            <li><a href="cabs_booking/{{ module.id }}"><span class="fas fa-fw fa-taxi"></span> Book course into CABS</a></li>
                        {% endif %}
                    </ul>
                </div>

                <a href="cancel/{{ module.id }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cancel Module">
                    <i class="fas fa-fw fa-times"></i>
                </a>
          </div> <!-- outer button group ends -->
      </div> <!-- Col-md-4 ends -->

    </div> <!-- Row ends -->
    <br>

    <div class="row">
        <div class="col-md-4">
            <h5>Automated reminders</h5>
            {% if module.reminder_sent_on %}
                <h4>
                <span class="label label-success">
                    <i class="fas fa-fw fa-envelope"></i>
                    Sent on {{ module.reminder_sent_on | date }}
                </span>
                </h4>
            {% else %}
                <label class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="When ON, students will be emailed a reminder about the course, 5 days before it starts.">
                    <input type="checkbox"
                        {% if module.auto_reminder %}checked{% endif %}
                        data-toggle="toggle"
                        data-api-field="auto_reminder"
                    >
                </label>
            {% endif %}
            <div class="btn-group" id="preview-eye">
                <a href="precourse-notification/preview/{{ module.id }}" class="btn btn-default" target="_blank" data-toggle="tooltip" data-placement="top" title="Preview">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h5>Automated feedback</h5>
            <label class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="When ON, Students will be emailed to request feedback the morning after the course ends.">
                <input type="checkbox"
                    {% if module.auto_feedback %}checked{% endif %}
                    data-toggle="toggle"
                    data-api-field="auto_feedback"
                    data-on-success="reload"
                >
            </label>
            {% if module.auto_feedback %}
                <a href="feedback/results/{{ module.id }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="View">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
            {% endif %}
        </div>
    </div><!-- Row ends -->
</div><!-- Section ends - Web Publications - -->

{% if other_runs %}
<div class="section">
    <a id='other_runs' class='nav-anchor'></a>
    <h2>Other runs</h2>
    <ul class="item-list hide-items" data-max-item=3>
    {% for other_run in other_runs %}
        <li class="item">
            <div class="row">
                <div class="item-title col-xs-12 col-md-2">
                    <a href="{{ other_run.get_absolute_url }}">{{ other_run.code }}</a>
                </div>
                <div class="item-info col-xs-6 col-md-7">
                    <a href="{{ other_run.get_absolute_url }}">{{ other_run.title }}</a>
                </div>
                <div class="item-info col-xs-6 col-md-3">
                    {{ other_run.start_date | date }}
                    {% if other_run.end_date and other_run.end_date != other_run.start_date %}
                        &ndash; {{ other_run.end_date | date }}
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="section">
    <a id='enrolments' class='nav-anchor' data-badge-text='{{ module.places_taken }} / {{ module.max_size | default:'∞' }}'></a>
    <h2>Enrolments</h2>
    <dl class='dl-horizontal'>
        <dt>Places taken<dt><dd>{{ module.places_taken }} / {{ module.max_size | default:'∞' }}</dd>
        <dt>Records<dt><dd>{{ enrolments | length }}</dd>
    </dl>
    {% if enrolments %}
        <table class="table table-condensed table-striped table-hover hide-rows">
        <thead>
            <tr>
                <th>Surname</th>
                <th>Firstname</th>
                <th>Status</th>
                {% if not module.non_credit_bearing %}
                <th>Result</th>
                <th>Points</th>
                {% endif %}
                <th></th>
            </tr>
        </thead>
    {% endif %}
    {% for enrolment in enrolments %}
        <tr>
            <td><a href="">{{ enrolment.qa.student.surname }}</a></td>
            <td><a href="">{{ enrolment.qa.student.firstname }}</a></td>
            <td>{{ enrolment.status.description }}</td>
            {% if not module.non_credit_bearing %}
            <td>{{ enrolment.result.description }}</td>
            <td>{{ enrolment.points_awarded | default:'–'}}</td>
            {% endif %}
            <td><a href=""><i class="fas fa-pencil-alt"></i></a></td>
        </tr>
    {% endfor %}

    </table>

    {# todo: logic which decides whether to display this #}
    <a href="missing-student-details-list/{{ module.id }}" class="btn btn-success">
        <i class="far fa-fw fa-question-circle"></i>
        Missing student details
    </a>
</div>

{% if waitlist_table.rows %}
<div class="section">
    <a id='waitlist' class='nav-anchor' data-badge-text='{{ waitlist_table.rows | length }}'></a>
    <h2>Waiting list</h2>
    <form method="post" action="/send-to-the-waiting-list">
        {% render_table waitlist_table %}
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <i class="far fa-fw fa-envelope"></i> Email entire list
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if next_run %}
                <li>
                    <a href="email-list/{{ module.id }}/new/{{ next_run.id }}">New run of course</a>
                </li>
                {% endif %}

                <li><a href="/email-list/{{ module.id }}/online">Places available on course (enrol online)</a></li>
                <li><a href="/email-list/{{ module.id }}/form">Places available on course (enrol by form)</a></li>
            </ul>
        </div>
        <button type="submit" value="Standard" class="btn btn-primary">
            <i class="fa fa-fw fa-envelope"></i> Email selected students
        </button>
    </form>

</div>
{% endif %}

{% if applications %}
<div class="section">
    <a id='application_forms' class='nav-anchor' data-badge-text='{{ applications | length }}'></a>
    <h2>Applications</h2>
    <table id="applications" class="table table-condensed table-striped table-hover hide-rows">
    <thead><tr><th>Surname</th><th>Firstname</th><th>Status</th><th></th></tr></thead>
    <tbody>
    {% for application in applications %}
        <tr>
            {% if application.student %}
                <td><a href="{{ application.student.get_absolute_url }}">{{ application.surname }}</a></td>
                <td><a href="{{ application.student.get_absolute_url }}">{{ application.firstname }}</a></td>
            {% else %}
                <td>{{ application.surname }}</td>
                <td>{{ application.firstname }}</td>
            {% endif %}
            <td>
                {% if application.is_completed %}
                    <span class="label label-success">Completed</span>
                {% else %}
                    <span class="label label-default">In progress</span>
                {% endif %}
            </td>
            <td>
                <a href="form/view/{{ application.id }}">
                    <i class="fas fa-fw fa-pencil-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

<div class="section">
    <div class="btn-group btn-group-xs pull-right top-right-button">
        <a href="{% url 'fee:new' module.pk %}" class="btn btn-success" role="button"><span class="fa fa-plus"></span> Add fees</a>
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% url 'module:copy-fees' module.id %}"><i class="fas fa-fw fa-pound-sign"></i> Copy fees</a></li>
      </ul>
    </div>
    <a id='fees' class='nav-anchor'></a>
    <h2>Fees</h2>
    {% if fees %}
        <table class="table table-condensed table-striped table-hover">
            <thead><tr><th>Tuition</th><th></th><th></th><th></th></tr></thead>
            {% for fee in fees %}
                {% if fee.type.narrative == 'Programme fee' %}
                    <tr>
                        <td>{{ fee.description }}</td>
                        <td></td>
                        <td>£{{ fee.amount | floatformat:2 }}</td>
                        <td class="quick-icons">
                            <a href="{% url 'fee:edit' fee.pk %}"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr><th>Other</th><th></th><th></th><th></th></tr>
            {% for fee in fees %}
                {% if fee.type.narrative != 'Programme fee' %}
                    <tr>
                        <td>{{ fee.description }}
                            {% if fee.is_catering %}
                                ({{ fee.catering_booking_count }}/{{ fee.allocation | default:'∞' }})
                            {% endif %}
                        </td>
                        <td>{{ fee.type.narrative }}</td>
                        <td>£{{ fee.amount | floatformat:2 }}</td>
                        <td class="quick-icons">
                            <a href="{% url 'fee:edit' fee.pk %}"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}

    {% if discounts %}
    <table class="table table-condensed table-striped">
        <thead><tr><th>Discount codes</th><th></th><th></th></tr></thead>
        {% for discount in discounts %}
            <tr>
                <td>{{ discount }} ({{ discount.percent }}%)</td>
                <td>{{ discount.code }}</td>
                <td>
                {% if discount.all_eligible %}
                    All students eligible
                {% else %}
                    Limited eligibility (see discount manager)
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{# TODO: turn the '== 32' into a portfolio property/tag #}
{% if module.portfolio_id == 32 %}
<div class="section">
    <a id='reading-list' class='nav-anchor'></a>
    <h2>Reading list</h2>
    {% render_table book_table %}
    <br>
    <a href="rebuild_reading_list/{{ module.id }}" class="btn btn-default">
        <i class="fas fa-fw fa-redo"></i> Rebuild reading list
    </a>
    {% if perms.books.export_list %}
        {#  Todo: figure out to do with square & other external urls. simple key-value table? #}
        <a href="https://square.conted.ox.ac.uk/reports/report/Library/Weekly%20classes%20reading%20list%20items%20by%20course?code={{ module.code }}"
           target='_blank'
           class="btn btn-default"
        >
            <span class="fas fa-fw fa-check-square"></span> Export list (square)
        </a>
    {% endif %}
</div>
{% endif %}

<div class="section">
    <div class="pull-right top-right-button">
        <a href="module/add-payment-plan/{{ module.id }}" class="btn btn-success btn-xs"><span class="fa fa-plus"></span> Add Payment plan</a>
    </div>
    <a id='payment-plans' class='nav-anchor'></a>
    <h2>Payment plans</h2>
    {% if payment_plans %}
        <table class="table table-condensed table-striped table-hover" >
        <thead><tr><th>Type</th><th></th></tr></thead>
        {% for plan in payment_plans %}
            <tr>
                <td>
                    {{ plan.name }}
                </td>
                <td class="quick-icons">
                    <a href="EDIT"><i class="fas fa-fw fa-pencil-alt"></i></a>
                    <a href="DELETE"><i class="fas fa-fw fa-times"></i></a>
                </td>
            </tr>
            {# delete_button = A(icon('remove'), data={'toggle': 'modal', 'target': '#confirm-remove-plan', 'href': URL('payment_plan', args=['delete', plan.id])}, _href='#') #}
        {% endfor %}
        </table>
    {% endif %}
</div>

<div class="section">
    <div class="pull-right top-right-button">
        <a href="{% url 'module:add-programme' module.id %}?next={{ request.get_full_path }}#programmes" class="btn btn-success btn-xs">
            <span class="fa fa-plus"></span> Add Programme
        </a>
    </div>
    <a id='programmes' class='nav-anchor'></a>
    <h2>Programmes</h2>
    {% if programmes %}
    <p>This module is part of the following programmes</p>
    <table class="table table-condensed table-striped table-hover">
    <thead><tr><th>Title</th><th></th></tr></thead>
        {% for programme in programmes %}
            {# delete_button = TD(A(icon('remove'), data={'toggle': 'modal', 'target': '#confirm-remove-module', 'href': URL('programme', 'remove_module', args=row.id, vars={'_next': URL(args=request.args, anchor='programmes')})}, _href='#'), _class='span2 quick-icons') #}
            <tr>
                <td>
                    {% if programme.qualification == 1 and module.credit_points %}
                        <span title="Credit-bearing module within a non-credit-bearing programme" class="text-danger">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                    {% endif %}
                    <a href="{{ programme.get_absolute_url }}"> {{ programme }}</a>
                </td>
                <td><a href="#"><i class="fas fa-times"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div class="section">
    <div class="pull-right top-right-button">
        <a href="{% url 'tutor:module:new' %}?module={{ module.id }}" class="btn btn-success btn-xs"><span class="fa fa-plus"></span> Add tutor</a>
    </div>
    <a id='tutor-modules' class='nav-anchor' data-badge-text='{{ tutors | length }}'></a>

    <h2>Tutors</h2>
    {% if tutors %}
        <ul class="item-list" id="tutor-list">
        {% for row in tutors %}
            <li class="item" id='tutor_modules_{{ row.tutor_module.id }}' style="position: relative;" data-created-on="{{ row.tutor_module.created_on }}">
                <div class="drag-container" style="z-index:2">
                    <span class="drag-icon"><i class="fa fa-ellipsis-v"></i></span>
                </div>
                <div class="item-info">
                    <div class='row'>
                        <div class="col-xs-4">
                            <a href="{{ row.tutor.get_absolute_url }}">{{ row.tutor.student.firstname }} {{ row.tutor.student.surname }}</a>
                        </div>
                        <div class="col-xs-6">
                           <span class="label label-primary">{{ row.role | default:''}}</span>
                        {% if row.is_published %}
                            <span class="label label-success"
                                data-toggle="tooltip"
                                data-title="This tutor is visible on the course webpage"
                            >Published</span>
                        {% endif %}
                        </div>
                        <div class="col-xs-2">
                            <div class="pull-right">
                                {% tutor_module_menu row %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        <br>
        <div class="dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="fas fa-fw fa-file-alt"></span> Expense forms <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Format</li>
                {% for key, title in expense_form_options.items %}
                    <li><a href="{% url 'tutor:expense-form-module' module.id key %}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<script>
    // JavaScript
    //ajax url call on the backend.
    function api_update() {
        const success_actions = {
            'reload': (data) => {
                window.location.reload();
            },
        }
        const element = $(this)[0];
        let val;
        if (element.type === 'checkbox') {
            val = $(this).prop('checked')
        } else {
            val = $(this).data('api-value');
        }
        let data = {};
        data[$(this).data('api-field')] = val;
        $.ajax({
            type: "PATCH",
            headers:{"X-CSRFToken": "{{ csrf_token }}"},
            url: "{% url 'module:update-api' module.id %}",
            data: data,
            success: success_actions[$(this).data('on-success')]
        });
    }

    $("[data-api-field]").change(api_update).click(api_update);
</script>
{% comment %}

<script>
// Use the jquery-ui sortable, function, with some great helper stuff from http://www.avtex.com/blog/2015/01/27/drag-and-drop-sorting-of-table-rows-in-priority-order/
$(document).ready(function() {
    $("#tutor-list").sortable({
        items: '> .item',
        handle: '.drag-container',
        axis: 'y',
        stop: function(event, ui) {
            var data = $(this).sortable('serialize');

            // POST to server using $.post or $.ajax
            $.ajax({
                data: data,
                type: 'POST',
                url: 'notimplemented'
            }).success(function (data, string, jqXHR) {
                console.log(data);
            });
        }
    });

    $('#applications').DataTable({
        "dom" : '<"top"i>rt<"bottom"flp><"clear">',
        "pagingType": "numbers",
        "searching": false,
        "info": false,
        "columnDefs": [{
            "targets": [3],
            "orderable": false
        }]
    });
});
</script>
{% endcomment %}

{% endblock %}
