{% extends 'core/form.html' %}

{% block after-section %}
    {% if can_apply_refund %}
    <div class="section">
        <h4>Automatically apply the refund to the enrolment</h4>
        <form method="post" action="{% url 'amendment:apply-online-refund' amendment.id %}" target="_blank">
        <button type="submit" class="btn btn-primary">
            {% csrf_token %}
            <i class="fas fa-fw fa-play"></i> Apply refund
        </button>
        </form>
    </div>
    {% endif %}
{% endblock %}
