{% load redpot_tags %}

<form action="" enctype="multipart/form-data" method="post" class="form-horizontal" id="edit-form">
    {% csrf_token %}
    {% bootstrap_form form True %}
    <div class="form-group mb-3">
        <button type='submit' class='btn btn-primary'>{{ form.submit_label|default:'Save' }}</button>
        {% if object.get_delete_url and not form.hide_delete_button %}
            {{ form.hide_delete_button }}
            <a href='{{ object.get_delete_url }}' class='btn btn-danger float-end'>Delete</a>
        {% endif %}
    </div>
</form>
{{ form.media }}
