{% extends 'layout.html' %}
{% load django_tables2 %}
{% load redpot_tags %}

{% block center %}
    <div class="section">
        {% include 'core/components/search_form.html' with search_label='Filter' %}
    </div>
    <div class="section">
        {% if table.rows %}
            <form action="" method="post">
                {% render_table table %}
                {% csrf_token %}
                {% bootstrap3submit 'Approve' %}
            </form>
        {% else %}
            <div class="empty-state">
                <span class="fa fa-ban empty-state-icon"></span>
                <h4>No tutor payments</h4>
                <h5>
                    No tutor payments matching your search criteria are pending your approval
                </h5>
            </div>
        {% endif %}
    </div>
{% endblock %}
