{% if record.approvable %}
    <div
        style="display: inline;"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Approvable"
    >
        <i class="fas fa-check-circle text-success"></i>
    </div>
{% else %}
    <div
        style="display: inline;"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{% for error in record.approval_errors %}{{ error }}{% endfor %}"
    >
        <i class="fas fa-exclamation-triangle text-danger"></i>
    </div>
{% endif %}
