{% extends 'layout_bs5.html' %}
{% block title %} Redpot {% endblock %}
{% block subtitle %} Unauthorized {% endblock %}

{% block center %}
<div class="section text-center">
    <span class="display-1"><i class="fas fa-ban"></i></span>
    <h2 class="mb-4">You are not authorized to view this page</h2>
    <h5>{% if exception %}({{ exception }}){% endif %}</h5>
    <p>
        Missing a permission that you should have? Contact <b>Redpot support</b>
        (<a href="mailto:redpot-support@conted.ox.ac.uk">redpot-support@conted.ox.ac.uk</a>)
    </p>
</div>

{% endblock %}
