{% load static %}
{% load menu %}
{% load redpot_tags %}
{% generate_menu %}

<!DOCTYPE html>
<head>
    <title>Redpot unchained{% if title %} – {{ title }} {% if subtitle %} – {{ subtitle }} {% endif %} {% endif %}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="{% static 'css/redpot.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-submenu.css' %}" rel="stylesheet" type="text/css" />

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/tools.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/fontawesome5/all.js' %}" type="text/javascript"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body>
{% block banner %}{% endblock %}
{% block jumbotron %}{% endblock %}

{% watermark 'unchained' %}

<!-- Navbar ================================================== -->

<nav class="navbar navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand navbar-brand redpotbrand" href="/">
                <img src="{% static 'images/redpot.svg' %}">redpot
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            {% block mainmenu %}
                {% with menu=menus.main %}
                    {% include 'menu/bootstrap3_menu.html' %}
                {% endwith %}
            {% endblock %}
            <!-- Login (nav right) -->
            {% with menu=menus.user %}
                {% include 'menu/bootstrap3_menu.html' with side='right' %}
            {% endwith %}
        </div>
    </div>
</nav>


{% block top %}
    <div class='container'>
        <header class="row">
            <div class="col-sm-12">
                <div class="page-header section">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %} alert-{{ message.tags }} {% else %} alert-warning {% endif %} alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <h1>
                        {% block title %}{{ title }}{% endblock %}
                        <small>{% block subtitle %}{{ subtitle }}{% endblock %}</small>
                    </h1>
                </div>
            </div>
        </header>
    </div>
{% endblock %}

<div class="container" id="vue-mount">
    <section class="row">
        {% block container %}
            <div class="col-xs-12">
                {% block center %}
                {% endblock %}
            </div>
        {% endblock %}
    </section>
</div>

<!-- Footer ================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footerLinks">
                <a href="/docs">
                    <i class="fas fa-fw fa-book"></i> User guide
                </a>
                <a href="mailto:redpot-support@conted.ox.ac.uk">
                    <i class="fas fa-fw fa-comment-dots"></i> Redpot support
                </a>
                <a href="/banner/view/">
                    <i class="fas fa-fw fa-redo"></i> Updates
                </a>
                <a href="https://gitlab.conted.ox.ac.uk/django/redpot-unchained" target="_blank">
                    <i class="fab fa-fw fa-gitlab"></i> View source code
                </a>
            </div>
            <div class="copyright">
                <span>&copy; University of Oxford, Department for Continuing Education</span>
            </div>
        </div>
    </div>
</footer>


<!-- The javascript =============================================
     Bootstrap.js (& redpot.js) must run after elements are defined -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="{% static 'js/redpot.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tools.js' %}" type="text/javascript"></script>
<script src="{% static 'js/timeago.min.js' %}" type="text/javascript"></script>

<script>
    // Automatic timestamp formatting via timeago
    var nodes = document.querySelectorAll('.timeago');
    timeago().render(nodes, 'en-GB');
    $(function () {
        // Bootstrap tooltips and popovers
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    })
</script>

</body>
</html>
