{# A POST action modal that can be configured through data-modal-* attributes on the referencing link/button #}
<div class="modal fade" id="commonModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <form method="post" id="modalForm">
                    {% csrf_token %}
                </form>
                <button id="cancel-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="confirm-button" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    let exampleModal = document.getElementById('commonModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Link or button that triggered the modal
        let source = event.relatedTarget
        // Extract info from data-modal-* attributes
        let body = source.getAttribute('data-modal-body')
        let title = source.getAttribute('data-modal-title') || 'Confirm'
        let confirm_class = source.getAttribute('data-modal-confirm-class') || 'btn-primary'
        let confirm_text = source.getAttribute('data-modal-confirm-text') || 'Confirm'
        let cancel_text = source.getAttribute('data-modal-cancel-text') || 'Back'
        let href = source.getAttribute('data-modal-href') || ''

        // If necessary, you could initiate an AJAX request here and then do the updating in a callback.

        // Update the modal's content.
        let modalTitle = exampleModal.querySelector('.modal-title')
        let modalBody = exampleModal.querySelector('.modal-body')
        let confirmButton = exampleModal.querySelector('#confirm-button')
        let cancelButton = exampleModal.querySelector('#cancel-button')

        modalTitle.textContent = title
        modalBody.innerHTML = body
        confirmButton.textContent = confirm_text
        cancelButton.textContent = cancel_text
        confirmButton.classList.add(confirm_class)
        confirmButton.formAction = href

        // Enable posting other forms by setting data-modal-form to the id
        let form = source.getAttribute('data-modal-form') || 'modalForm'
        confirmButton.setAttribute('form', form)
    })
</script>
