{% load redpot_tags %}
{# don't render if passed record=None #}
{# todo: make generic, maybe through use of a 'timestamp_fields' property on models? #}
{% if record %}
<div class="section-footer">
    <div class="timestamp">
        {% if record.created_by %}
        Created by {{ record.created_by | user_name }}
        <time class="timeago"
            data-placement="bottom" data-bs-placement="bottom"
            title="{{ record.created_on | date:'DATETIME_FORMAT' }}"
            data-toggle="tooltip" data-bs-toggle="tooltip"
            datetime="{{ record.created_on | date:'DATETIME_FORMAT' }}"
        >
            {{ record.created_on }}
        </time>
        {% elif record.raised_by %}
        Raised by {{ record.raised_by | user_name }}
        <time class="timeago"
            data-placement="bottom" data-bs-placement="bottom"
            title="{{ record.raised_on | date:'DATETIME_FORMAT' }}"
            data-toggle="tooltip" data-bs-toggle="tooltip"
            datetime="{{ record.raised_on | date:'DATETIME_FORMAT' }}"
        >
            {{ record.raised_on }}
        </time>
        {% elif record.requested_by %}
        Requested by {{ record.requested_by | user_name }}
        <time class="timeago"
            data-placement="bottom" data-bs-placement="bottom"
            title="{{ record.requested_on | date:'DATETIME_FORMAT' }}"
            data-toggle="tooltip" data-bs-toggle="tooltip"
            datetime="{{ record.requested_on | date:'DATETIME_FORMAT' }}"
        >
            {{ record.requested_on }}
        </time>
        {% endif %}
        {% if record.modified_by %}
            <span class="separator">&bull;</span>
            Edited by {{ record.modified_by | user_name }}
            <time class="timeago"
                data-placement="bottom" data-bs-placement="bottom"
                title="{{ record.modified_on | date:'DATETIME_FORMAT' }}"
                data-toggle="tooltip" data-bs-toggle="tooltip"
                datetime="{{ record.modified_on | date:'DATETIME_FORMAT' }}"
            >
                {{ record.modified_on }}
            </time>
        {% endif %}
        {% if record.approved_by %}
            <span class="separator">&bull;</span>
            Approved by {{ record.approved_by | user_name }}
            <time class="timeago"
                data-placement="bottom" data-bs-placement="bottom"
                title="{{ record.approved_on | date:'DATETIME_FORMAT' }}"
                data-toggle="tooltip" data-bs-toggle="tooltip"
                datetime="{{ record.approved_on | date:'DATETIME_FORMAT' }}"
            >
                {{ record.approved_on }}
            </time>
        {% endif %}
    </div>
</div>
{% endif %}
