{% extends 'layout.html' %}
{% load redpot_tags %}
{% load django_tables2 %}

{% block center %}

    <div class="section">
        <div class="row">
            <div class="col-12 col-md-7">
                {% edit_button enrolment %}
                <dl class="row">
                    <dt class="col-4">Student</dt><dd class="col-8 mb-0"><a href="{{ student.get_absolute_url }}">{{ student }}</a></dd>
                    <dt class="col-4">Qualification aim</dt><dd class="col-8 mb-0"><a href="{{ enrolment.qa.get_absolute_url }}">{{ enrolment.qa.title }}</a></dd>
                    <dt class="col-4">Status</dt><dd class="col-8 mb-0">{{ enrolment.status }}</dd>
                    <dt class="col-4">Result</dt><dd class="col-8 mb-0">{{ enrolment.result }}</dd>
                    {% if enrolment.qa.programme.qualification.is_postgraduate %}
                        <dt class="col-4">Mark</dt><dd class="col-8 mb-0">{{ enrolment.mark | default:'–' }}</dd>
                    {% endif %}
                    {% if enrolment.points_awarded %}
                        <dt class="col-4">Points awarded</dt><dd class="col-8 mb-0">{{ enrolment.points_awarded }}</dd>
                        <dt class="col-4">Transcript printed</dt><dd class="col-8 mb-0">{{ enrolment.transcript_date | date | default:'No'}}</dd>
                    {% endif %}
                </dl>
            </div>

            <div class="col-12 col-md-2 offset-md-3">
                {% if course_completion_certificate_visible %}
                    <a href="certificate" target="_blank" class="btn btn-outline-dark btn-block">
                        <i class="fas fa-fw fa-certificate"></i> Certificate
                    </a>
                {% endif %}
                <a
                        href="generate-email"
                        target="_blank"
                        class="btn btn-info btn-block"
                        {% if not enrolment.status.takes_place %}disabled{% endif %}
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="An email will be sent to you for review"
                >
                    <i class="fas fa-fw fa-envelope"></i> Confirmation
                </a>
            </div>
        </div>
        {% timestamp enrolment %}
    </div>

    <a id="finances"></a>
    <div class="section">
        <h2>Finances</h2>
        {% render_table finance_table %}
        {% if amendment_table.rows %}
            <h4>Outstanding changes</h4>
            {% render_table amendment_table %}
        {% endif %}
        <h4>Balance</h4>
        <p>£{{ enrolment.get_balance | floatformat:2 }}</p>

        <a
            href="{% url 'finance:add-fees' enrolment.id %}"
            class="btn btn-success"
            {% if not enrolment.module.finance_code %}disabled{% endif %}
        >
            <i class="fas fa-fw fa-plus"></i> Add or adjust fee
        </a>
        <a
            href="{% url 'finance:add-payment' enrolment.id %}"
            class="btn btn-success"
            {% if payment_disabled and not perms.finance %}disabled{% endif %}
        >
            <i class="fas fa-fw fa-pound-sign"></i> Add payment
        </a>
        <a
            href="{% url 'invoice:choose-enrolments' student.id %}?enrolments={{ enrolment.id }}"
            class="btn btn-primary"
            {% if payment_disabled and not perms.finance %}disabled{% endif %}
        >
            <i class="fas fa-fw fa-plus"></i> New invoice
        </a>
        <a href="{% url 'invoice:select-for-payment' student.id %}" class="btn btn-primary">
            <i class="fas fa-fw fa-pound-sign"></i> Invoice payment
        </a>

        {% if not enrolment.module.finance_code %}
            <p><a class="text link-warning" href="{% url 'module:edit' enrolment.module.id %}#id_cost_centre"><b>Finance code required</b></a></p>
        {% endif %}

        <div class="float-end">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fas fa-fw fa-pound-sign"></span> Request change <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% include 'enrolment/includes/amendment_options.html' %}
            </ul>
            <a class="btn btn-secondary" href="/enrolment/statement/{{ enrolment.id }}" target="_blank">
                <span class="fas fa-print"></span> Statement
            </a>
        </div>

        {% if perms.finance %}
            <h4 class="mt-3">Finance tools</h4>
            <a class="btn btn-warning" href="/invoice/credit">
                <span class="fas fa-fw fa-minus"></span> Credit invoice
            </a>
            <a class="btn btn-warning" href="{% url 'finance:transfer' enrolment.id %}">
                <span class="fas fa-fw fa-arrow-right"></span> Transfer
            </a>
        {% endif %}
    </div>

    {# todo: consider why we have sections w/ tables, when it's vanishingly rare to have >1 accom record #}
    <div class="section">
        <div class="float-end">
            <a href="{% url 'booking:add-catering' enrolment.id %}" class="btn btn-success btn-xs">
                <span class="fa fa-plus"></span> Add catering
            </a>
        </div>
        <h2 id="catering">Catering</h2>
        {% if catering %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Diet</th>
                    <th>Details</th>
                    <th></th>
                </tr>
                </thead>
                {% for booking in catering %}
                    <tr>
                        <td>{{ booking.fee.description }}</td>
                        {# todo: test student related data once implemented #}
                        <td>{{ student.diet.get_type_display | default:'–'  }}</td>
                        <td>{{ student.diet.note | default:'–'  }}
                        </td>
                        <td>
                            <a class="text-danger float-end"
                               href="{% url 'booking:delete-catering' booking.id %}"
                               data-bs-toggle="tooltip"
                               title="Delete"
                            >
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <div class="section">
        <div class="float-end">
            <a href="{% url 'booking:add-accommodation' enrolment.id %}" class="btn btn-success btn-xs"><span class="fa fa-plus"></span> Add accommodation</a>
        </div>
        <h2 id="accommodation">Accommodation</h2>
        {% if accommodation %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Note</th>
                    <th>Limit</th>
                    <th></th>
                </tr>
                </thead>
                {% for booking in accommodation %}
                    <tr>
                        <td>{{ booking.get_type_display }}</td>
                        <td>{{ booking.note | default:'–' }}</td>
                        <td>
                            {% if booking.limit %}
                                <a href="{{ booking.limit.get_absolute_url }}">{{ booking.limit.description }}</a>
                            {% else %}
                                &ndash;
                            {% endif %}
                        </td>
                        <td>
                            <a class="float-end"
                                href="{% url 'booking:edit-accommodation' booking.id %}"
                                data-bs-toggle="tooltip"
                                title="Edit"
                            >
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
