{% extends 'staff_list_layout_9_3.html' %}
{% load render_table from django_tables2 %}

{% block center %}
    <div class="section">
        {% for title, id, progs in qualifications %}
            <h2 id='{{ id }}' class='section-title'>{{ title }}</h2> {# For dynamic side navigation menu #}
            <div class="container">
                {% for prog in progs %}
                    <div id="accordion" class="accordion">
                        <div class="card mb-0">
                            <div class="card-header collapsed" data-bs-toggle="collapse" href="#collapse{{ prog.id }}">
                                <div class="card-title text-dark fw-bold">
                                    {{ prog.title }}
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <a href="mailto:{{ prog.email }}">
                                            <i class="fas fa-fw fa-envelope text-muted"></i> {{ prog.email }}
                                        </a>
                                    </div>
                                    {% if prog.phone %}
                                        <div class="col-6">
                                            <i class="fas fa-fw fa-phone text-muted"></i> {{ prog.phone }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="collapse{{ prog.id }}" class="card-body collapse" data-bs-parent="#accordion">
                                <h6><i class="fas fa-user-friends"></i> Staff</h6>
                                <div class="row">
                                    <div class="col-6">
                                        {% for progstaff in prog.programme_staff_set.all %}
                                            {% if progstaff.staff.get_full_name %}
                                                <p><a href="{% url 'staff_list:profile' progstaff.staff.id %}">{{ progstaff.staff.get_full_name }}</a> - {{ progstaff.role }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-6">
                                        {% if prog.division.manager.get_full_name %}
                                            <p><a href="{% url 'staff_list:profile' prog.division.manager.id %}">{{ prog.division.manager.get_full_name }}</a> - Manager</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block right_sidebar %}
    {% include 'core/components/side_nav.html' %}
{% endblock %}
