{% extends 'staff_list_layout.html' %}
{% load static %}
{% block center %}
    <div class="wall row row-cols-3 row-cols-md-5 g-4">
        {% for staff in staffs %}
            <div class="col">
                <div class="card mb-3 h-100">
                    <a href="{% url 'staff_list:profile' staff.id %}">
                        <img class="card-img-top" src="{% if staff.image %}{{ staff.image.url }}{% else %}{% static 'images/staff_profile/default_pic.jpg' %}{% endif %}" alt="profile image">
                        <div class="card-body">
                            <h6 class="text-dark">{{ staff.first_name }} {{ staff.last_name }}</h6>
                            <p class="card-text link-dark">
                                {% if staff.phone %}
                                    <i class='fas fa-fw fa-phone'></i> {{ staff.phone_number }}<br/>
                                {% endif %}
                                {% if staff.role %}
                                    <span class='fas fa-fw fa-briefcase'></span> {{ staff.role }}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
