{% extends 'core/form_9_3.html' %}

{% block after-section %}
    <div class="section">
        <h4>Reading list</h4>
        <table class="table table-sm">
            {% for book in books %}
                <tr>
                    <td>{{ book.type }}</td>
                    <td>{{ book.title }} / {{ book.author }}</td>
                </tr>
            {% empty %}
                No books added
            {% endfor %}
        </table>
    </div>

    <div class="section">
        <a id='tools' class='nav-anchor'></a>
        <h4>Admin tools</h4>
        <form method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'proposal:api:proposal-reset' proposal.id %}" class="btn btn-warning">
                <i class="fas fa-fw fa-undo"></i> Reset
            </button>
            <button type="submit" formaction="{% url 'proposal:api:proposal-submit-as-tutor' proposal.id %}" class="btn btn-warning">
                <i class="fas fa-fw fa-thumbs-up"></i> Fake tutor submission
            </button>
            <button type="submit" formaction="{% url 'proposal:api:proposal-approve-as-dos' proposal.id %}" class="btn btn-warning">
                <i class="fas fa-fw fa-thumbs-up"></i> Fake DoS approval
            </button>
            <button type="submit" formaction="{% url 'proposal:api:proposal-update-from-module' proposal.id %}" class="btn btn-warning">
                <i class="fas fa-fw fa-redo"></i> Update from module
            </button>
        </form>
    </div>
{% endblock %}

{% block right_sidebar %}
    <div class="card section sticky-sidebar">
        <div class="d-grid gap-2">
            <button class='btn btn-primary' type="submit" form="edit-form">
                <i class='fas fa-fw fa-save'></i> Save changes
            </button>
        </div>
        <hr/>
        <form method="post">
            {% csrf_token %}
            <div class="d-grid gap-2">
                {% if proposal.status == statuses.CREATED %}
                    <button type="submit" formaction="{% url 'proposal:api:proposal-send-to-tutor' proposal.id %}" class="btn btn-success">
                        <i class="fas fa-fw fa-share-square"></i> Send to tutor
                    </button>
                {% endif %}
                {% if proposal.status == statuses.TUTOR %}
                    <button type="submit" formaction="{% url 'proposal:api:proposal-remind-tutor' proposal.id %}" class="btn btn-success">
                        <i class="fas fa-fw fa-exclamation"></i> Remind tutor
                    </button>
                {% endif %}
                {% if proposal.status == statuses.DOS %}
                    <button type="submit" formaction="{% url 'proposal:api:proposal-remind-dos' proposal.id %}" class="btn btn-success">
                        <i class="fas fa-fw fa-exclamation"></i> Remind DoS
                    </button>
                {% endif %}
                {% if proposal.status == statuses.ADMIN %}
                    {% if proposal.image %}
                        <p>
                            <b>Note:</b> This proposal has an image, which may need a rights check
                        </p>
                    {% endif %}
                    <button type="submit" formaction="{% url 'proposal:api:proposal-mark-complete' proposal.id %}" class="btn btn-success">
                        <i class="fas fa-fw fa-check"></i> Mark complete
                    </button>
                {% endif %}
                <a href="/message_history/id">
                    <i class="fas fa-fw fa-list"></i> Message history ({{ proposal.messages.count }})
                </a>
                {% if proposal.status == statuses.COMPLETE %}
                    <a href="/summary_page/id">
                        <i class="fas fa-fw fa-print"></i> Summary page
                    </a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
