{% load redpot_tags %}
<div class="dropdown float-end">
    <a class="text-dark" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-ellipsis-h fa-lg"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="{{ tutor_module.get_absolute_url }}?next={{ request.get_full_path }}#tutor-modules" class="dropdown-item">
                <i class="fas fa-fw fa-search"></i> Details
            </a>
        </li>
        <li>
            <a href="{{ tutor_module.get_edit_url }}?next={{ request.get_full_path }}#tutor-modules" class="dropdown-item">
                <i class="fas fa-fw fa-pencil-alt"></i> Edit
            </a>
        </li>
        <li class="dropdown-divider"></li>
        <li>
            <a href="{{ tutor_module.get_absolute_url }}#payments" class="dropdown-item">
                <i class="fas fa-briefcase fa-fw"></i> Payments
            </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-header">Contracts</li>
        <li>
            <a href="{% url 'contract:select' tutor_module.id %}" class="dropdown-item">
                <span class="fas fa-fw fa-file-contract"></span> New contract
            </a>
        </li>
        {% for contract in contracts %}
        <li>
            <a href="{{ contract.get_absolute_url }}" class="dropdown-item">
                <span class="fas fa-fw fa-file-contract"></span>
                View contract {% if contracts|length > 1 %}#{{ contract.id }}{% endif %}
            </a>
        </li>
        {% endfor %}

        <li class="dropdown-divider"></li>
        <li class="dropend">
            <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <span class="fa fa-fw fa-print"></span> Expense forms
            </a>
            <ul class="dropdown-menu">
                {% for key, title in expense_templates.items %}
                    <li><a class="dropdown-item" href="{% url 'tutor:expense-form-single' tutor_module.id key %}">
                        {{ title}}
                    </a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown-divider"></li>
        <li>
            <a href="#"
               class="dropdown-item"
               data-bs-toggle='modal'
               data-bs-target='#commonModal'
               data-modal-body="Are you sure you wish to remove this tutor from the module?"
               data-modal-confirm-class= "btn-danger"
               data-modal-confirm-text= "Remove"
               data-modal-href="{% url 'tutor:module:delete' tutor_module.id %}?next={{ request.get_full_path }}#tutor-modules"
            >
                <div class="text-danger">
                    <i class="fas fa-times fa-fw"></i> Remove
                </div>
            </a>
        </li>
    </ul>
</div>
