{% extends 'layout.html' %}
{% load redpot_tags %}
{% load tutor_payment_tags %}
{% block center %}

{% url 'tutor-payment:new' object.id as add_url %}

<div class="section">
    {% edit_button object.get_edit_url %}
    <h2>Details</h2>
    <hr>
    <div class="col-7">
        <dl class="row">
            <dt class="col-3">Tutor</dt>
            <dd class="col-9 mb-1">
                <a href="{{ object.tutor.get_absolute_url }}">{{ object.tutor.student }}</a>
            </dd>
            <dt class="col-3">Module</dt>
            <dd class="col-9 mb-1">
                <a href="{{ object.module.get_absolute_url }}">{{ object.module.long_form }}</a>
            </dd>
            <dt class="col-3">Role</dt>
            <dd class="col-9 mb-1">{{ object.role | default:'–' }}</dd>
            <dt class="col-3">Teaching</dt>
            <dd class="col-9 mb-1">{{ object.is_teaching | yesno | title }}</dd>
            <dt class="col-3">Director of studies</dt>
            <dd class="col-9 mb-1">{{ object.director_of_studies | yesno | title }}</dd>
            <dt class="col-3">Published</dt>
            <dd class="col-9 mb-1">{{ object.is_published | yesno | title }}</dd>
            <dt class="col-3">Biography</dt>
            <dd class="col-9 mb-1">{{ object.biography | striptags | truncatewords:50 }}</dd>
        </dl>
    </div>
    {% timestamp object %}
</div>

<div class="section">
    {% if payments %}
        {% if not object.tutor.employee_no %}
            <div class="section-alert-header alert-danger" role="alert">
                <span class="fa fa-exclamation-triangle"></span>
                <strong>This tutor needs an Employee Number before their fees can be paid.</strong>
            </div>
        {% endif %}
        {% if not object.tutor.appointment_id %}
            <div class="section-alert-header alert-danger" role="alert">
                <span class="fa fa-exclamation-triangle"></span>
                <strong>This tutor needs an Appointment ID before their fees can be paid.</strong>
            </div>
        {% endif %}
        {% if not object.tutor.rtw_type_id %}
            <div class="section-alert-header alert-danger" role="alert">
                <span class="fa fa-exclamation-triangle"></span>
                <strong>This tutor needs valid Right to Work data before their fees can be paid.</strong>
            </div>
        {% endif %}

        <div class="float-end">
            <a href="{{ add_url }}" class="btn btn-success btn-xs"><span class="fas fa-plus"></span> Add payment</a>
        </div>
        <h2 id="payments">Payments</h2>

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Details</th>
                <th>Raised by</th>
                <th>Raised on</th>
                <th>Pay on/after</th>
                <th>Transferred on</th>
                <th></th>
            </tr>
            </thead>
        {% for payment in payments %}
            <tr>
                <td>{% payment_status_icon payment %}</td>
                <td>£{{ payment.amount | floatformat:2 }}</td>
                <td>{{ payment.type }}</td>
                <td>{{ payment.details | truncatechars:50 }}</td> {#  todo: add abbr #}
                <td>{{ payment.raised_by.get_full_name }}</td>
                <td>{{ payment.raised_on | date }}</td>
                <td>{{ payment.pay_after | date:'M Y' | default:'–' }}</td>
                <td>{{ payment.transferred_on | date | default:'–' }}</td>
                <td>
                    <a href="{{ payment.get_edit_url }}?next={{ request.get_full_path }}">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2 id="payments">Payments</h2>
        <div class="empty-state">
            <i class="fas fa-pound-sign empty-state-icon"></i>
            <h4>No fees</h4>
            <h5>
            Once payments have been raised for the tutor on this course, you'll see them here
            </h5>
            {% if perms.tutor_payment.raise %}
                <a class="btn btn-success" href="{{ add_url }}">
                    <i class="fas fa-fw fa-plus"></i> Add a new payment
                </a>
            {% endif %}
        </div>
    {% endif %}
    {% if add_buttons %}
        <hr>
        <h4>Add quick fees</h4>
        {# todo: programatize the selection of buttons and display #}
        {% if 'marking_link' in add_buttons %}
            <a href="{% url 'tutor-payment:quick:extras' object.id %}" class="btn btn-primary">
                <i class="fas fa-fw fa-check"></i> Marking & extra students
            </a>
        {% endif %}
        {% if 'online_teaching' in add_buttons %}
            <a href="{% url 'tutor-payment:quick:online-teaching' object.id %}" class="btn btn-primary">
                <i class="fas fa-fw fa-graduation-cap"></i> Online teaching
            </a>
        {% endif %}
        {% if 'weekly_teaching' in add_buttons %}
            <a href="{% url 'tutor-payment:quick:weekly-teaching' object.id %}" class="btn btn-primary">
                <i class="fas fa-fw fa-graduation-cap"></i> Weekly class teaching
            </a>
        {% endif %}
        {% if 'weekly_syllabus' in add_buttons %}
            <a class="btn btn-primary"
               data-bs-toggle="modal"
               data-bs-target="#commonModal"
               data-modal-body="Are you sure you wish to add a syllabus preparation fee?"
               data-modal-href="{% url 'tutor-payment:quick:syllabus' object.id %}"
            >
                <i class="fas fa-fw fa-file-alt"></i> New syllabus
            </a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
