{% extends 'layout.html' %}
{% load redpot_tags %}
{% load tutor_payment_tags %}
{% block center %}

{% url 'tutor:payment:new' object.id as add_url %}

<div class="section">
    DETAILS HERE!
    {% timestamp object %}
</div>

<div class="section">
    {% if payments %}
        <div class="pull-right top-right-button">
            <a href="{{ add_url }}" class="btn btn-success btn-xs"><span class="fa fa-plus"></span> Add fee</a>
        </div>
        <h2 id="fees">Fees</h2>
        {% if not object.tutor.employee_no %}
            <div class="alert alert-danger" role="alert">
                <span class="fa fa-exclamation-triangle"></span>
                <strong>This tutor needs an Employee Number before their fees can be paid.</strong>
            </div>
        {% endif %}
        {% if not object.tutor.appointment_id %}
            <div class="alert alert-danger" role="alert">
                <span class="fa fa-exclamation-triangle"></span>
                <strong>This tutor needs an Appointment ID before their fees can be paid.</strong>
            </div>
        {% endif %}
        {% if not object.tutor.rtw_type_id %}
            <div class="alert alert-danger" role="alert">
                <span class="fa fa-exclamation-triangle"></span>
                <strong>This tutor needs valid Right to Work data before their fees can be paid.</strong>
            </div>
        {% endif %}
        <table class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>Status</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Details</th>
                <th>Raised by</th>
                <th>Raised on</th>
                <th>Pay on/after</th>
                <th>Transferred on</th>
                <th></th>
            </tr>
            </thead>
        {% for payment in payments %}
            <tr>
                <td>{% payment_status_icon payment %}</td>
                <td>£{{ payment.amount | floatformat:2 }}</td>
                <td>{{ payment.type }}</td>
                <td>{{ payment.details | truncatechars:50 }}</td> {#  todo: add abbr #}
                <td>{{ payment.raised_by }}</td>
                <td>{{ payment.raised_on }}</td>
                <td>{{ payment.pay_after | default:'–' }}</td>
                <td>{{ payment.transferred_on | default:'–' }}</td>
                <td>
                    <a href="tutor-fee/edit/{{ payment.id }}?next=HERE">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2 id="fees">Fees</h2>
        <div class="empty-state">
            <span class="fa fa-gbp empty-state-icon"></span>
            <h4>No fees</h4>
            <h5>
            Once payments have been raised for the tutor on this course, you'll see them here
            </h5>
            {% if perms.tutor.payment_create %}
                <a class="btn btn-success" href="{{ add_url }}">
                    <i class="fas fa-fw fa-plus"></i> Add a new fee
                </a>
            {% endif %}
        </div>
    {% endif %}
    {% if add_buttons %}
        <hr>
        <h4>Add quick fees</h4>
        {# todo: programatize the selection of buttons and display #}
        {% if 'marking_link' in add_buttons %}
            <a href="tutor-payment/extras/{{ object.id }}" class="btn btn-primary">
                <i class="fas fa-fw fa-check"></i> Marking & extra students
            </a>
        {% endif %}
        {% if 'online_teaching' in add_buttons %}
            <a href="tutor-payment/teaching/online/{{ object.id }}" class="btn btn-primary">
                <i class="fas fa-fw fa-graduation-cap"></i> Online teaching
            </a>
        {% endif %}
        {% if 'weekly_teaching' in add_buttons %}
            <a href="tutor-payment/teaching/weekly/{{ object.id }}" class="btn btn-primary">
                <i class="fas fa-fw fa-graduation-cap"></i> Weekly class teaching
            </a>
        {% endif %}
        {% if 'weekly_syllabus' in add_buttons %}
            <a href="tutor-payment/syllabus/{{ object.id }}" class="btn btn-primary">
                <i class="fas fa-fw fa-text"></i> New syllabus
            </a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
