<li><a class="dropdown-item" href="{% url 'amendment:new' enrolment.id 1 %}"><span class="fas fa-fw fa-arrow-right"></span> Transfer</a></li>
<li><a class="dropdown-item" href="{% url 'amendment:new' enrolment.id 2 %}"><span class="fa fa-pencil-alt fa-fw"></span> Amendment</a></li>
{% if amendment_options.any %}
    {% if amendment_options.online %}
        <li>
            <a class="dropdown-item" href="{% url 'amendment:new' enrolment.id 3 %}">
                <span class="fa fa-globe fa-fw"></span> Refund (online)
            </a>
        </li>
    {% endif %}
    {% if amendment_options.credit_card %}
        <li>
            <a class="dropdown-item" href="{% url 'amendment:new' enrolment.id 4 %}">
                <span class="fa fa-credit-card fa-fw"></span> Refund (credit card)
            </a>
        </li>
    {% endif %}
    {% if amendment_options.rcp %}
        <li>
            <a class="dropdown-item" href="{% url 'amendment:new' enrolment.id 5 %}">
                <span class="fa fa-hourglass fa-fw"></span> Refund (scheduled payment)
            </a>
        </li>
    {% endif %}
    <li>
            <a class="dropdown-item" href="{% url 'amendment:new' enrolment.id 7 %}">
            <span class="fas fa-university fa-fw"></span> Refund (bank return)
        </a>
    </li>
    <li>
        <a
            class="dropdown-item" href="#"
            data-bs-toggle="modal"
            data-bs-target="#commonModal"
            data-modal-body="
                <p>Please download and complete a <a download href='https://finance.admin.ox.ac.uk/files/r12paymentrequestformxlsx'>Payment Request Form</a>.</p>
                <p>On hitting submit, an notification will be sent to the finance officer, letting them know to expect it.</p>
            "
            data-modal-href="{% url 'amendment:new' enrolment.id 6 %}"
        >
            <span class="fas fa-file-excel fa-fw"></span> Refund (BACS and other) (.xlsx)
        </a>
    </li>
{% endif %}
