{% extends 'core/form.html' %}

{% block after-section %}
    <script>
        // Hide/show narrative field based on tickbox
        // Could be generalized through a register() function with a list of source elements and anonymous functions:
        //    register_hide('id_rtw_type, [('id_rtw_document_type', (el) => el.checked)])
        document.addEventListener("DOMContentLoaded", function () {
            const narrative_check = document.getElementById("id_custom_narrative");
            const hideable_group = document.getElementById("id_narrative").closest(".form-group");
            hideable_group.classList.add('hideable-input')

            function conditional_display() {
                if (narrative_check.checked) {
                    hideable_group.classList.remove('hidden')
                } else {
                    hideable_group.classList.add('hidden')
                }
            }

            // On page load
            conditional_display();

            // Dropdown change
            narrative_check.onchange = conditional_display;
        });
    </script>
    <style>
        .hideable-input.hidden {
            display: none;
        }
    </style>
{% endblock %}
