{% extends 'layout.html' %}
{% load redpot_tags %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block center %}
<div class="section">
    <div class="row">
        <h2>Lookup</h2>
        <form method='POST' action="{% url 'invoice:lookup' %}">
            {% csrf_token %}
            <div class="col-3">
                <div class="input-group">
                    {% render_field form.number class+="form-control" %}
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> Find
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="section">
	<div class="row">
        <h2>Search</h2>
        <form action="">
            {% include 'core/components/search_form.html' %}
        </form>
    </div>
</div>
{% if request.GET %}
	<div class="section">
		{% if table.rows %}
			<h3>Search results ({{ table.rows|length }})</h3>
			{% render_table table %}
		{% else %}
		<div class="empty-state">
            <span class="fa fa-ban empty-state-icon"></span>
            <h4>No results found</h4>
            <h5>
            Try broadening your query and search again
            </h5>
		</div>
		{% endif %}
	</div>
{% endif %}
{{ filter.form.media }}
{% endblock %}
