{% extends 'layout_bs5.html' %}
{% block center %}
    <div class="section">
        <div class="row">
            <div class="col-6">
                {% include 'core/components/search_form_bs5.html' %}
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <form method='POST' action="{% url 'student:lookup' %}" class='form-horizontal'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>HESA ID</label>
                        <div class="input-group">
                            <input type="number" name="husid" placeholder="e.g. 2011560123456" class="form-control" required>
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="fa fa-search"></i> Find
                            </button>
                        </div>
                    </div>
                </form>
                <form method='POST' action="{% url 'student:lookup' %}" class='form-horizontal'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>SITS ID</label>
                        <div class="input-group">
                            <input type="number" name="sits_id" placeholder="e.g. 1234567" class="form-control" required>
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="fa fa-search"></i> Find
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if request.GET %}
        <div class="section">
            <form action="" method="post">
                {% include 'core/components/search_results_table.html' %}
                {% csrf_token %}
                {% if perms.student.merge_student %}
                <button type="submit" class="btn btn-secondary">
                    <i class="fas fa-fw fa-layer-group"></i> Merge selected
                </button>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
