{% extends 'layout_9_3.html' %}
{% load redpot_tags %}
{% load tutor_module_tags %}
{% load render_table from django_tables2 %}

{% block right_sidebar %}
    {% include 'core/components/side_nav.html' %}
{% endblock %}

{% block center %}
    <div class="section">
    {% if student.sits_id %}
    <div class="section-alert-header alert-warning" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        <b>This student has a record in SITS and some of its data is now read only.</b>
    </div>
    {% endif %}

    {% if student.is_flagged %}
    <div class="section-alert-header alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        <b>This person has been flagged: {{ student.note }}</b>
    </div>
    {% endif %}

    {% if student.deceased %}
    <div class="section-alert-header alert-danger" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        <b>This person is deceased</b>
    </div>
    {% endif %}

    {% if suspension and suspension.actual_return_date %}
    <div class="section-alert-header alert-warning" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        <b>This student has suspended their award bearing studies since {{ suspension.start_date }}</b>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            {% edit_button student %}
            <h2 id='student' class='section-title'>Personal details</h2>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Title</dt><dd class="col-sm-8 mb-0">{{ student.title | default:'–'  }}</dd>
                <dt class="col-sm-4">Surname</dt><dd class="col-sm-8 mb-0">{{ student.surname }}</dd>
                <dt class="col-sm-4">First name</dt><dd class="col-sm-8 mb-0">{{ student.firstname }}</dd>
                <dt class="col-sm-4">Middle names</dt><dd class="col-sm-8 mb-0">{{ student.middlename | default:'–' }}</dd>
                <dt class="col-sm-4">Nickname</dt><dd class="col-sm-8 mb-0">{{ student.nickname | default:'–'  }}</dd>
                <dt class="col-sm-4">Birthdate</dt><dd class="col-sm-8 mb-0">{{ student.birthdate | default:'–'  }}</dd>
                <dt class="col-sm-4">Gender</dt><dd class="col-sm-8 mb-0">{{ student.get_gender_display }}</dd>
                <dt class="col-sm-4">HESA ID</dt><dd class="col-sm-8 mb-0">{{ student.husid | default:'–'  }}</dd>
                <dt class="col-sm-4">SITS ID</dt><dd class="col-sm-8 mb-0">{{ student.sits_id | default:'–'  }}</dd>
                <dt class="col-sm-4">Nationality</dt><dd class="col-sm-8 mb-0">{{ student.nationality.name }}</dd>
                <dt class="col-sm-4">Domicile</dt><dd class="col-sm-8 mb-0">{{ student.domicile.name }}</dd>
                <dt class="col-sm-4">Ethnicity</dt><dd class="col-sm-8 mb-0">{{ student.ethnicity.name }}</dd>
                <dt class="col-sm-4">Home/EU?</dt><dd class="col-sm-8 mb-0">{{ student.is_eu | default:'Unknown'  }}</dd>
                <dt class="col-sm-4">Occupation</dt><dd class="col-sm-8 mb-0">{{ student.occupation | default:'–'  }}</dd>
                <dt class="col-sm-4">Note</dt><dd class="col-sm-8 mb-0">{{ student.note | default:'–' }}</dd>
            </dl>
            {% if last_merger %}
            <dl class="row">
                <dt class="col-sm-4">Merged by</dt><dd class="col-sm-8 mb-0">{{ last_merger.created_by }}</dd>
                <dt class="col-sm-4">Merged on</dt><dd class="col-sm-8 mb-0">{{ last_merger.modified_on | date:'SHORT_DATE_FORMAT' }}</dd>
            </dl>
            <!-- TODO: Create Merge history link page -->
            <a href="/student/merge-history/{{ last_merger.target }}" class="btn btn-secondary btn-xs mb-3">
                <span class="fas fa-layer-group"></span> Merge history
            </a>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
            <h5>
                <a data-bs-toggle="collapse" href="#collapse-disability" class="link-dark">Disability</a>
            </h5>
            <dl class="row collapse" id="collapse-disability">
                <dt class="col-sm-4">Disability</dt><dd class="col-sm-8 mb-0">{{ student.disability.description }}</dd>
                <dt class="col-sm-4">Detail</dt><dd class="col-sm-8 mb-0">{{ student.disability_detail | default:'–'  }}</dd>
                <dt class="col-sm-4">Action taken</dt><dd class="col-sm-8 mb-0">{{ student.disability_action | default:'–'  }}</dd>
            </dl>
            <h5>
                <a data-bs-toggle="collapse" href="#collapse-diet" class="link-dark">Dietary preferences</a>
                <small>
                    <a href="{% url 'student:edit-diet' student.id %}" data-bs-toggle="tooltip" title="Edit diet">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                    </a>
                </small>
            </h5>
            <dl class="row collapse" id="collapse-diet">
                {% if diet %}
                <dt class="col-sm-4">Special diet</dt><dd class="col-sm-8 mb-0">{{ diet.get_type_display }}</dd>
                <dt class="col-sm-4">Details</dt><dd class="col-sm-8 mb-0">{{ diet.note }}</dd>
                {% else %}
                <dt></dt><dd class="col-sm-9 mb-0">None</dd>
                {% endif %}
            </dl>
            <h5>
                <a data-bs-toggle="collapse" href="#collapse-emergency" class="link-dark">Emergency contact</a>
                <a href="{% url 'student:emergency-contact:edit' student.id %}" data-bs-toggle="tooltip" title="Edit emergency contact">
                    <small><i class="fas fa-fw fa-pencil-alt"></i></small>
                </a>
            </h5>
                <dl class="row collapse" id="collapse-emergency">
                    {% if emergency_contact %}
                    <dt class="col-sm-3">Name</dt><dd class="col-sm-9 mb-0">{{ emergency_contact.name }}</dd>
                    <dt class="col-sm-3">Email</dt><dd class="col-sm-9 mb-0">{{ emergency_contact.email }}</dd>
                    <dt class="col-sm-3">Phone</dt><dd class="col-sm-9 mb-0">{{ emergency_contact.phone }}</dd>
                    {% else %}
                    <dt></dt><dd class="col-sm-9 mb-0">None</dd>
                    {% endif %}
                </dl>

            <hr>
            <h5>Marketing
                <a href="{% url 'student:marketing' student.id %}" data-bs-toggle="tooltip" title="Edit preferences">
                    <small><i class="fas fa-pencil-alt"></i></small>
                </a>
            </h5>
            <dl class="row">
                <dt class="col-2">Email</dt>
                <dd class="col-10">
                    {% if student.email_optin %}
                        <span class="badge bg-success">Opted-in</span>
                    {% else %}
                        <span class="badge bg-secondary">Not opted-in</span>
                    {% endif %}
                </dd>
                <dt class="col-2">Mail</dt>
                <dd class="col-10">
                    {% if student.no_publicity %}
                        <span class="badge bg-danger">Opted-out</span>
                    {% elif student.mail_optin %}
                        <span class="badge bg-success">Opted-in</span>
                    {% else %}
                        <span class="badge bg-secondary">Not opted-in</span>
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    {% timestamp student %}
</div>

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'student:address:new' student.id %}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i> Add address</a>
    </div>
        <h2 id='address' class='section-title'>Address</h2>
        {% if addresses %}
        <ul class="item-list hide-items" data-max-item=2>
        {% for address in addresses %}
            <li class="item" data-created-on="{{ address.created_on }}">
                <div class="item-info">
                    <div class='row'>
                        <div id="addressField{{ address.id }}" class="col-sm-3">
                            <span style="white-space: pre-line;">{{ address.formatted }}</span>
                        </div>
                        <div class="col-sm-3">
                        {% if address.is_default %}
                            <span class="badge bg-primary">Default</span>
                        {% endif %}
                        {% if address.sits_type %}
                            {% if address.sits_type == 'C' %}
                                <span class="badge bg-warning">SITS Correspondence</span>
                            {% elif address.sits_type == 'H' %}
                                <span class="badge bg-warning">SITS Home</span>
                            {% else %}
                                <span class="badge bg-warning">SITS Term time</span>
                            {% endif %}
                        {% endif %}
                        {% if address.is_billing %}
                            <span class="badge bg-success"
                                data-bs-toggle="tooltip"
                                title="Used for invoicing"
                            >Billing</span>
                        {% endif %}
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end">
                                {% if not address.is_billing %}
                                    <a
                                       class="btn btn-outline-dark hide-until-hover"
                                       data-href="{% url 'student:address-api' address.id %}"
                                       data-api-field="is_billing"
                                       data-api-value="true"
                                       data-on-success="reload"
                                    >
                                        Set billing
                                    </a>
                                {% endif %}
                                {% if not address.is_default %}
                                    <a
                                       class="btn btn-outline-dark hide-until-hover"
                                       data-href="{% url 'student:address-api' address.id %}"
                                       data-api-field="is_default"
                                       data-api-value="true"
                                       data-on-success="reload"
                                    >
                                        Set default
                                    </a>
                                {% endif %}
                                <a data-bs-toggle="tooltip" placement="top" title="Copy address to clipboard" class="btn btn-outline-dark me-1 copyAddressButton" onclick="copyElementToClipboard('addressField{{ address.id}}')">
                                    <span class="far fa-copy">
                                    </span>
                                </a>
                                {% edit_button address size='medium'%}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
</div>

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'student:email:new' student.id %}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i> Add email</a>
    </div>

    <h2 id='email' class='section-title'>Email</h2>
    {% if emails %}
    <ul class="item-list hide-items" data-max-item=2>
    {% for email in emails %}
        <li class="item" data-created-on="{{ email.created_on }}">
            <div class='row'>
                <div class="col-sm-6">
                    <a id="dynamicUpdateEmailField_{{email.id}}" href="mailto:{{ email.email }}" class="link-dark">{{ email.email }}</a>
                    {% if email.is_default %}
                        <span class="badge bg-primary">Default</span>
                    {% endif %}
                    {% if email.is_sits_record %}
                        <span class="badge bg-warning">SITS</span>
                    {% endif %}
                    {% if email.note %}
                        <span data-bs-toggle="tooltip" title="{{ email.note }}">
                            <i class="far fa-comment"></i>
                        </span>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="float-end" style="margin:-7px 0;">
                        {% if not email.is_default %}
                            <a
                               class="btn btn-outline-dark hide-until-hover"
                               data-href="{% url 'student:email-api' email.id %}"
                               data-api-field="is_default"
                               data-api-value="true"
                               data-on-success="reload"
                            >
                                Set default
                            </a>
                        {% endif %}
                        <a data-bs-toggle="tooltip" placement="top" title="Copy email to clipboard" class="btn btn-outline-dark" onclick="copyToClipboard('{{email.email}}')"><span class="far fa-copy"></span></a>
                        <a href="{{ email.get_edit_url }}" class="btn btn-outline-dark"><span class="fas fa-pencil-alt"></span></a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'student:phone:new' student.id %}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i> Add phone</a>
    </div>

    <h2 id='phone' class='section-title'>Phone</h2>
    {% if phones %}
    <ul class="item-list hide-items" data-max-item=2>
    {% for phone in phones %}
        <li class="item" data-created-on="{{ phone.created_on }}">
            <div class='row'>
                <div class="col-sm-9">
                    <a href="tel:{{phone.number}}" class="link-dark">{{phone.number}}</a>
                    {% if phone.is_default %}
                        <span class="badge bg-primary">Default</span>
                    {% endif %}
                    {% if 'phone' not in 'phone.type.lower()' %}
                        <span class="badge bg-secondary">{{phone.type}}</span>
                    {% endif %}
                    {% if phone.is_sits_record %}
                        <span class="badge bg-warning">SITS</span>
                    {% endif %}
                    {% if phone.note %}
                        <span data-bs-toggle="tooltip" title="{{ phone.note }}">
                            <i class="far fa-comment"></i>
                        </span>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    <div class="float-end" style="margin:-7px 0;">
                        {% if not phone.is_default %}
                            <a
                               class="btn btn-outline-dark hide-until-hover"
                               data-href="{% url 'student:phone-api' phone.id %}"
                               data-api-field="is_default"
                               data-api-value="true"
                               data-on-success="reload"
                            >
                                Set default
                            </a>
                        {% endif %}
                        <a href="{% url 'student:phone:edit' phone.id %}" class="btn btn-outline-dark"><span class="fas fa-pencil-alt"></span></a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="section">
    <h2 id='enrolments' class='section-title' data-badge-text='{{qa_list.total_enrolments}}'>Enrolments</h2>
    {% for qa in qa_list %}
    <div class='card mb-3'>
        <div class="card-header">
            <div class="float-end">
                <a href="{% url 'enrolment:create' qa.id %}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i> Add enrolment</a>
            </div>

            {% if qa.qa_warning %}
            <span data-bs-toggle="tooltip" title="Contains a credit-bearing module" class="text-danger">
                <span class="fa fa-exclamation-circle"></span>
            </span>
            {% endif %}

            <a href="{{ qa.get_absolute_url }}" class="link-dark"><b>{{ qa.title }}</b></a>
            <small> &bull; {{ qa.enrolments.count }} course{{ qa.enrolments.count|pluralize }}</small>

            {% if qa.programme.qualification.is_award and qa.end_date and qa.reason_for_ending %}
                {% if qa.reason_for_ending.id == 1 %}
                <span class="badge bg-success">Completed</span>
                {% else %}
                <span class="badge bg-warning">Ended</span>
                {% endif %}
            {% elif qa.programme.qualification.on_hesa_return %}
                {% if qa.points_awarded %}
                <small>&bull; {{ qa.points_awarded }} CATS points</small>
                {% endif %}
            {% endif %}

        </div>
        <ul class="item-list hide-items" data-max-item=5>
            {% for enrolment in qa.enrolments.all %}
            <li class="item" data-created-on="{{ enrolment.created_on}}">
                <div class="float-end">
                    <a href="{{ enrolment.get_absolute_url }}" class="btn btn-outline-dark"><i class="fas fa-search"></i></a>
                </div>
                <div>
                    {% if enrolment.module.credit_points and qa.non_accredited %}
                        <span data-bs-toggle="tooltip" title="Credit-bearing module within a non-credit-bearing programme" class="text-danger">
                            <span class="fa fa-exclamation-circle"></span>
                        </span>
                    {% endif %}
                    <a href="{{ enrolment.module.get_absolute_url }}" class="link-dark fw-semi-bold">{{ enrolment.module.title }}</a>
                </div>
                <div>
                    <a href="{{ enrolment.module.get_absolute_url }}" class="link-dark">{{ enrolment.module.code }}</a>
                    &bull; {{ enrolment.module.start_date }}
                    {% if enrolment.module.end_date and enrolment.module.end_date != enrolment.module.start_date %}
                        &ndash; {{enrolment.module.end_date}}
                    {% endif %}
                    {% enrolment_label enrolment.status.id enrolment.status %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <a class="btn btn-success" href="{% url 'qualification_aim:new' student.id %}">
        <i class="fas fa-fw fa-plus"></i> Add programme
    </a>
    <a class="btn btn-secondary" href="{% url 'waitlist:add' student.id %}">
        <i class="fas fa-fw fa-list"></i> Add to waiting list
    </a>

    <div class="btn-group float-end">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fas fa-file"></span> Documents <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href="{% url 'student:statement' student.id %}" target="_blank">
                <i class="fas fa-fw fa-pound-sign"></i> Statement
            </a></li>
            {% if qa_list.qa_certhe %}
                <li><a class="dropdown-item" href="/student/certhe_progress/{{student.id}}" target="_blank">
                    <i class="fas fa-fw fa-certificate"></i> CertHE progress report
                </a></li>
            {% endif %}
            {% if perms.transcript.print %}
                <li class="dropdown-divider"></li>
                <li class="dropdown-header">Transcripts</li>
                <li><a class="dropdown-item" href="{% url 'transcript:undergraduate' student.id %}" target="_blank">
                    Undergraduate
                </a></li>
                <li><a class="dropdown-item" href="{% url 'transcript:undergraduate-headed' student.id %}" target="_blank">
                    Undergraduate (with header)
                </a></li>
                <li><a class="dropdown-item" href="{% url 'transcript:postgraduate' student.id %}" target="_blank">
                    Postgraduate
                </a></li>
                <li><a class="dropdown-item" href="{% url 'transcript:postgraduate-headed' student.id %}" target="_blank">
                    Postgraduate (with header)
                </a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% if waitlists %}
<div class="section">
    <h2 id='waitlists' class='section-title' data-badge-text='{{ waitlists.count }}'>Waiting lists</h2>
    <table class="table table-hover hide-rows" data-display='3'>
        <thead><tr><th>Module</th><th>Title</th><th>Listed on</th></tr></thead>
        {% for waitlist in waitlists %}
        <tr>
            <td><a href="{{ waitlist.module.get_absolute_url }}">{{ waitlist.module.code }}</a></td>
            <td><a href="{{ waitlist.module.get_absolute_url }}">Contemporary Irish Fiction</a></td>
            <td>{{ waitlist.listed_on | date:'d M Y H:i' }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if applications %}
<div class="section">
    <h2 id='applications' class='section-title' data-badge-text='{{ applications|length }}'>Applications</h2>
    <hr>
    <table class="table table-hover hide-rows" data-display='3'>
    {% for application in applications %}
        <tr>
            <td><a href="{{ application.module.get_absolute_url }}">{{ application.module.code }}</a></td>
            <td><a href="{{ application.module.get_absolute_url }}">{{ application.module.title }}</a></td>
            <td>
                {% if application.is_completed %}
                <span class="badge bg-success">Completed</span>
                {% else %}
                <span class="badge bg-secondary">In progress</span>
                {% endif %}
            </td>
            <td>
                <a href="{{ application.get_absolute_url }}" data-bs-toggle="tooltip" title="View">
                    <span class="fas fa-search"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'invoice:choose-enrolments' student.id %}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i> Add invoice</a>
    </div>
    <h2 id='invoices' class='section-title' data-badge-text='' data-badge-class='warning'>Invoices</h2>
    {% if invoices %}
    <ul class="item-list hide-items" data-max-item=2>
        {% for invoice in invoices %}
        <li class="item" data-created-on="{{ invoice.created_on }}">
            <div>
                <div class="float-end">
                    <a href="{{ invoice.get_absolute_url }}" class="btn btn-outline-dark"><span class="fa fa-search"></span></a>
                </div>
                <a href="{{ invoice.get_absolute_url }}" class="link-dark fw-semi-bold">
                    {{invoice}} &bull; {{invoice.ledger_items.first.enrolment.module}}
                </a>
            </div>
            <div>
                Raised {{ invoice.date | date:'d M Y' }} &bull; £{{ invoice.amount | floatformat:-2 }}
                {% if not invoice.balance %}
                    {% if invoice.written_off %}
                    <span class="badge bg-primary">Written off</span>
                    {% else %}
                    <span class="badge bg-success">Paid</span>
                    {% endif %}
                {% elif invoice.balance < 0 %}
                <span class="badge bg-warning">£{{ invoice.balance | floatformat:-2 }} In credit</span>
                {% elif invoice.payment_plan.id %}
                    <span class="badge bg-warning">£{{ invoice.balance | floatformat:-2 }} Outstanding</span>
                    <span class="badge bg-primary">Payment plan</span>
                {% elif invoice.duedate and invoice.duedate < now %}
                    <span class="badge bg-danger">£{{ invoice.balance | floatformat:-2 }} Overdue</span>
                {% else %}
                    <span class="badge bg-warning">£{{ invoice.balance | floatformat:-2 }} Outstanding</span>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'website_account:create' student.id %}" class="btn btn-success btn-xs">
            <i class="fas fa-plus"></i> Add login
        </a>
    </div>

    <h2 id='login' class='section-title'>Login</h2>

    {% if website_accounts %}
    <ul class="item-list hide-items" data-max-item=1>
        {% for login in website_accounts %}
        <li class="item">
            <div>
                <div class="float-end">
                    <a href="{% url 'website_account:edit' login.id %}" class="btn btn-outline-dark">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <span class="fw-semi-bold">{{ login.username }}</span>
                {% if login.is_disabled %}
                <span class="badge bg-danger">Disabled</span>
                {% endif %}
            </div>
            <div>
                Last logged in
                <span class="timeago"
                      datetime="{{ login.last_login}}"
                      data-bs-toggle="tooltip"
                      data-placement="bottom"
                      title="{{ login.last_login | date:'j M Y H:i' }}"
                >
                    {{ login.last_login }}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'student:other-id:new' student.id %}" class="btn btn-success btn-xs"><i class="fas fa-plus"></i> Add other ID</a>
    </div>
    <h2 id='other_ids' class='section-title'>Other IDs</h2>
    {% if other_ids %}
    <table class="table table-hover hide-rows" data-display='3'>
        <thead><tr><th>ID</th><th>Type</th><th>End date</th><th></th></tr></thead>
        <tbody>
        {% for other_id in other_ids %}
            <tr>
                <td>{{ other_id.number }}</td>
                <td>{{ other_id.get_type_display }}</td>
                <td>{% if other_id.end_date %}{{ other_id.end_date  }}{% else %}{% endif %}</td>
                <td>
                    <a href="{% url 'student:other-id:edit' other_id.id %}" class="float-end" data-bs-toggle="tooltip" title="Edit">
                        <span class="fas fa-fw fa-pencil-alt"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <dl class='row'><dt class="col-sm-2"> Moodle ID</dt>
    {% if moodle_id %}
        <dd class="col-sm-6 mb-0">{{ moodle_id.id }} <a href="{% url 'student:moodle-id:edit' moodle_id.id  %}"><span class="fas fa-fw fa-pencil-alt"></span></a></dd>
    {% else %}
        <dd class="col-sm-6 mb-0">N/A <a href="{% url 'student:moodle-id:new' student.id %}"><i class="fas fa-plus"></i></a></dd>
    {% endif %}
    </dl>

</div>

<div class="section">
    <h2 id='enquiries' class='section-title'>Enquiries</h2>
    {% if enquiries %}
    <table class="table table-hover hide-rows" data-display='3'>
    <thead><tr><th>Date</th><th>Module</th><th>Title</th><th>Details</th><th></th></tr></thead>
    <tbody>
    {% for enquiry in enquiries %}
        <tr>
            <td>{{ enquiry.date | date:'SHORT_DATE_FORMAT' }}</td>
            <td><a href="{{ enquiry.module.get_absolute_url }}">{{ enquiry.module.code }}</a></td>
            <td>{{ enquiry.module.title }}</td>
            <td>
                <a
                   data-bs-content="{{ enquiry.detail }}"
                   data-bs-toggle="popover"
                   data-bs-trigger="hover"
                >
                    <span class="fa fa-ellipsis-h"></span>
                </a>
            </td>
            <td>
                <a href="#" class="text-danger float-end"
                    data-bs-toggle='modal'
                    data-bs-target="#commonModal"
                    data-modal-body="Are you sure you want to delete this enquiry?"
                    data-modal-confirm-text="Delete"
                    data-modal-confirm-class="btn-danger"
                    data-modal-href="{% url 'student:enquiry:delete' enquiry.id %}"
                >
                    <span data-bs-toggle="tooltip" title="Delete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>

{% if tutor.id %}
<div class="section">
    {% edit_button tutor %}
    {% if tutor.rtw_expired %}
    <div class="section-alert-header alert-danger">
            <span class="fa fa-exclamation-circle"></span>
            <b>This tutor's right to work has expired</b>
    </div>
    {% elif tutor.rtw_expires_soon %}
    <div class="section-alert-header alert-danger">
        <span class="fa fa-exclamation-circle"></span>
        <b>This tutor's right to work will expire within 6 months</b>
    </div>
    {% endif %}

    <h2 id='tutor' class='section-title'>Tutor details</h2>
    <hr>
    <dl class="row">
        <dt class="col-sm-3">Qualifications</dt>
        <dd class="col-sm-9 mb-0">{{ tutor.qualifications | default:'–'  }}</dd>
        <dt class="col-sm-3">Affiliation</dt>
        <dd class="col-sm-9 mb-0">{{ tutor.affiliation | default:'–'  }}</dd>
        {% if perms.tutor.edit_bank_details %}
            <dt class="col-sm-3">National Insurance # </dt><dd class="col-sm-9 mb-0">{{ tutor.nino | default:'–' }}</dd>
            <dt class="col-sm-3">Employee #</dt>
            {% if tutor.employee_no %}
                <dd class="col-sm-9 mb-0">{{tutor.employee_no}}</dd>
            {% else %}
                <dd class="col-sm-9 mb-0"><span class="text-danger"><b>None</b></span></dd>
            {% endif %}
            <dt class="col-sm-3">Appointment ID</dt>
            {% if tutor.appointment_id %}
                <dd class="col-sm-9 mb-0">{{tutor.appointment_id}}</dd>
            {% else %}
                <dd class="col-sm-9 mb-0"><span class="text-danger"><b>None</b></span></dd>
            {% endif %}
        {% endif %}
        <dt class="col-sm-3">Oracle supplier number</dt>
        <dd class="col-sm-9 mb-0">{{ tutor.oracle_supplier_number | default:'–' }}</dd>
    </dl>
    {% if perms.tutor.edit_bank_details %}
        <h5>Bank details</h5>
        <dl class="row">
            <dt class="col-sm-3">Bank name</dt><dd class="col-sm-9 mb-0">{{ tutor.bankname | default:'–' }}</dd>
            <dt class="col-sm-3">Branch address</dt><dd class="col-sm-9 mb-0">{{ tutor.branchaddress | default:'–' }}</dd>
            <dt class="col-sm-3">Account name</dt><dd class="col-sm-9 mb-0">{{ tutor.accountname | default:'–' }}</dd>
            <dt class="col-sm-3">Sort code</dt><dd class="col-sm-9 mb-0">{{ tutor.sortcode | default:'–' }}</dd>
            <dt class="col-sm-3">Account # </dt><dd class="col-sm-9 mb-0">{{ tutor.accountno | default:'–' }}</dd>
            <dt class="col-sm-3">SWIFT</dt><dd class="col-sm-9 mb-0">{{ tutor.swift | default:'–' }}</dd>
            <dt class="col-sm-3">IBAN</dt><dd class="col-sm-9 mb-0">{{ tutor.iban | default:'–' }}</dd>
            <dt class="col-sm-3">Other bank details</dt><dd class="col-sm-9 mb-0">{{ tutor.other_bank_details | default:'–' }}</dd>
        </dl>
    {% endif %}

    {% if tutor.image %}
        <div class='col-sm-4'>
            <h5>Web image</h5>
            <a href="{{ tutor.image.url }}"><img src="{{ tutor.image.url }}" class="img-fluid"></a>
        </div>
    {% endif %}
    <br>

    <h5>Biography</h5>
    <div class='card bg-light mb-3'>
        <div class="card-body">
            {{tutor.custom_biography}}
        </div>
    </div>

    {% if tutor.tutorsubjects.all %}
        <h5>Subjects</h5>
        {% for tutor_subject in tutor.tutorsubjects.all %}
            <span class="badge bg-warning">{{ tutor_subject.subject }}</span>
        {% endfor %}
    {% endif %}

    {% if perms.tutor.edit_bank_details %}
        <h5>Right to work
            <small><a href="{% url 'tutor:right-to-work' tutor.id %}">
                <i class="fas fa-fw fa-pencil-alt"></i>
            </a></small>
        </h5>
        <dl class="row">
            <dt class="col-sm-3">List</dt><dd class="col-sm-9 mb-0">{{ tutor.get_rtw_type_display | default:'–' }}</dd>
            <dt class="col-sm-3">Document type</dt><dd class="col-sm-9 mb-0">{{ tutor.rtw_document_type | default:'–'}}</dd>
            <dt class="col-sm-3">Document issued on</dt><dd class="col-sm-9 mb-0">{{ tutor.rtw_start_date | default:'–' }}</dd>
            <dt class="col-sm-3">Document valid until</dt><dd class="col-sm-9 mb-0">{{ tutor.rtw_end_date | default:'–' }}</dd>
            <dt class="col-sm-3">Date check done</dt><dd class="col-sm-9 mb-0">{{ tutor.rtw_check_on | default:'–' }}</dd>
            <dt class="col-sm-3">Check done by</dt><dd class="col-sm-9 mb-0">{{ tutor.rtw_check_by | default:'–' }}</dd>
        </dl>
    {% endif %}

    {% timestamp tutor %}
</div>

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'tutor:module:new' %}?tutor={{ tutor.id }}&next={{ request.path }}#tutor-modules" class="btn btn-success btn-xs">
            <i class="fas fa-plus"></i> Add module
        </a>
    </div>
    <h2 id='tutor-modules' class='section-title' data-badge-text='{{tutor_modules.count}}'>Tutor modules</h2>
    {% if tutor_roles %}
        <form action="" method="get" class="col-5">
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control" id="search_modules_by_roles_tutor_role" name="tutor_role">
                        {% for role in tutor_roles %}
                            <option {% if role == tutor_module_role %} selected{% endif %} >{{role}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Filter by Roles</button>
                </div>
            </div>
        </form>
    {% endif %}
    <div class="float-end">Showing {{tutor_modules_query | length}} results out of {{tutor_modules.count}}</div>
    <br>
    <br>
    <ul class="item-list hide-items" id="tutor-list" data-max-item=4>

    {% for tutor_module in tutor_modules_query %}
    <li class="item" data-created-on="{{ tutor_module.created_on }}">
        <div class="item-title">
            <div class='row'>
                <div class="col-sm-5">
                    <a href="{{ tutor_module.module.get_absolute_url }}" class="link-dark fw-semi-bold">{{tutor_module.module.title}}</a>
                </div>
                <div class="col-sm-4">
                    {% if tutor_module.role %}
                    <span class="badge bg-primary">{{tutor_module.role}}</span>
                    {% endif %}
                    {% if tutor_module.is_published %}
                    <span class="badge bg-success" data-bs-toggle="tooltip" title="This tutor is visible on the course webpage">Published</span>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    {% if not tutor_module.module.is_cancelled %}
                        {{tutor_module.module.enrolments.count}}/{{ tutor_module.module.max_size | default:'∞' }}
                    {% else %}
                        <span class="badge bg-danger">Cancelled</span>
                    {% endif %}
                </div>
                <div class="col-sm-1">
                    <div class="float-end">
                        {% tutor_module_menu tutor_module %}
                    </div>
                </div>
            </div>
        </div>
        <div class="item-info">
            <div class='row'>
                <div class="col-sm-5">
                    <a href="{{ tutor_module.module.get_absolute_url }}" class="link-dark">{{tutor_module.module.code}}</a> &bull;
                    {% if tutor_module.module.start_date == tutor_module.module.end_date %}
                        {{tutor_module.module.start_date}}
                    {% else %}
                        {{tutor_module.module.start_date}} &ndash; {{tutor_module.module.end_date}}
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>
</div>

<div class="section">
    <div class="float-end mt-1">
        <a href="{% url 'tutor:activity:new' tutor.id %}" class="btn btn-success btn-xs">
            <i class="fas fa-plus"></i> Add activity
        </a>
    </div>

    <h2 id='tutor-activity' class='section-title'>Other tutor activity</h2>
    {% if tutor_activities %}
        <table class="table table-hover hide-rows" data-display='2' data-hide-after='2'>
            <thead><tr><th>Type</th><th>Note</th><th>Date</th><th></th></tr></thead>
            <tbody>
            {% for activity in tutor_activities %}
                <tr>
                    <td>{{activity.activity.description}}</td>
                    <td>{{activity.note}}</td>
                    <td>{{activity.date}}</td>
                    <td class="col-sm-1">
                        <a href="{{ activity.get_edit_url }}" class="float-end" data-bs-toggle="tooltip" title="Edit">
                            <span class="fas fa-fw fa-pencil-alt"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% else %}
<div class="section">
    <h2 id='tutor' class='section-title'>Tutor details</h2>
    <p>This person is a not a tutor.</p>
    <a class="btn btn-success" href="{% url 'student:make-tutor' student.id %}">
        <i class="fas fa-plus"></i> Make tutor
    </a>
</div>
{% endif %}

<script>
    // todo: proper generic method
    function api_update() {
        const success_actions = {
            'reload': (data) => {
                window.location.reload();
            },
        }
        const element = $(this)[0];
        let val;
        if (element.type === 'checkbox') {
            val = $(this).prop('checked')
        } else {
            val = $(this).data('api-value');
        }
        let data = {};
        data[$(this).data('api-field')] = val;
        let url = $(this).data('href');
        $.ajax({
            type: "PATCH",
            headers:{"X-CSRFToken": "{{ csrf_token }}"},
            url: url,
            data: data,
            success: success_actions[$(this).data('on-success')]
        });
    }

    $("[data-api-field]").change(api_update).click(api_update);
</script>

{% endblock %}
