{% extends 'layout.html' %}
{% load redpot_tags %}
{% block center %}

    <div class='section'>
        {% block before-form %}{% endblock %}
        <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form True %}
            <div class="form-group mb-3">
                <button type='submit' class='btn btn-primary'>{{ form.submit_label|default:'Save' }}</button>
                {% if object.get_delete_url %}
                    <a href='{{ object.get_delete_url }}' class='btn btn-danger float-end'>Delete</a>
                {% endif %}
            </div>
        </form>
        {% block after-form %}{% endblock %}
        {% timestamp object %}
    </div>
    {% block after-section %}{% endblock %}
    {{ form.media }}
{% endblock %}
