{% extends 'layout.html' %}
{% load redpot_tags %}
{% block center %}

<div class='section'>
    <div class='row'>
        <div class='col-xs-8'>
            <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap3form form True %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {% if object.get_delete_url %}
                            {% bootstrap3delete object.get_delete_url %}
                        {% endif %}
                        {% bootstrap3submit form.submit_label|default:'Save' %}
                    </div>
                </div>
            </form>
            {% block after-form %}{% endblock %}
        </div>
    </div>
    {% timestamp object %}
</div>
{% block after-section %}{% endblock %}
{{ form.media }}
{% endblock %}
