{% extends 'layout.html' %}
{% load redpot_tags %}
{% load render_table from django_tables2 %}

{% block center %}

<div class="section">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<form action="" class='form-horizontal'>
				{% bootstrap3form filter.form False %}
				{% bootstrap3submit 'Search' %}
			</form>
		</div>
	</div>
</div>
{% if request.GET %}
	<div class="section">
		{% if table.rows %}
			<h3>Search results ({{ table.rows|length }})</h3>
            <form action="/standard">
			    {% render_table table %}
                <input type="submit" value="Standard" class="btn btn-primary">
                <input type="submit" value="Alternate" formaction="/elsewhere" class="btn btn-danger">
            </form>
		{% else %}
		<div class="empty-state">
            <span class="fa fa-ban empty-state-icon"></span>
            <h4>No results found</h4>
            <h5>
            Try broadening your query and search again
            </h5>            
		</div>
        {% endif %}
    </div>
{% endif %}
<script>
    document.getElementById('toggle-all').onclick = function() {
        // Get all other checkboxes
        let checkboxes = document.querySelectorAll("input[type='checkbox']:not([id*='toggle-all'])");
        for (let checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}

