{% extends 'layout_9_3.html' %}

{% load redpot_tags %}

{% block right_sidebar %}
<div class="hidden-xs affix-top" data-spy="affix" data-offset-top="105" id="sidebar">
    <ul class="nav sidenav">
    </ul>
</div>
{% endblock %}

{% block center %}

<div class="section">
    {% if not programme.is_active %}
        <div class="section-alert-header alert-danger" role="alert">
            <span class="fa fa-exclamation-circle"></span>
            <b>This programme is no longer active</b>
        </div>
    {% endif %}
    {% url 'programme:edit' programme.id as edit_url %}

    {% edit_button edit_url %}

    <a id='details' class='nav-anchor'></a>

    <h2>Details</h2>
    <dl class="dl-horizontal">
		<dt>Title</dt>
		<dd>{{ programme.title }}</dd>
		<dt>Division</dt>
        <dd>{{ programme.division.name }}</dd>
		<dt>Portfolio</dt>
        <dd>{{ programme.portfolio }}</dd>
		<dt>Qualification</dt>
        <dd>{{ programme.qualification.name_with_code }}</dd>
		<dt>Email</dt>
        <dd>{{ programme.email | default:'–' }}</dd>
		<dt>Phone</dt>
        <dd>{{ programme.phone | default:'–' }}</dd>
        {% if programme.sits_code %}
			<dt>SITS code</dt>
            <dd>{{ programme.sits_code }}</dd>
        {% endif %}
    </dl>

    {% timestamp programme %}
</div>

<div class="section">
    <a id='modules' class='nav-anchor'></a>
    <h2 class="pull-left">Modules</h2>
    <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" >
            <h2 class='fas fa-tasks'></h2>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!--<li><a href="#">Action</a></li>-->
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#modules"><span class="fas fa-cog"></span> Change all modules' status</a>
                <ul class="dropdown-menu">
					{% for status in module_statuses %}
					<li>{{ status }}</li>
					{% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="pull-right top-right-button">
        <a href="{% url 'programme:add-module' programme.id %}" class="btn btn-success btn-xs"><span class="fas fa-plus"></span> Add Module</a>
    </div>

    {% if module_count > 100 %}
    <div class="alert alert-warning" role="alert">
        <span class='fas fa-exclamation fa-fw'></span>
		Showing only the top 100 of {{ module_count }} modules
    </div>
    {% endif %}
    <table class="table table-condensed table-striped table-hover hide-rows" data-display=10>
    <thead><tr><th>Code</th><th>Title</th><th>Start date</th><th>End date</th><th>Status (enrolments)</th><th></th></tr></thead>

    {% for module in modules %}

        <tr>
            <td><a href="{{ module.get_absolute_url }}">{{ module.code }}</a></td>
            <td class="col-xs-4"><a href="{{ module.get_absolute_url }}">
			    {% if module.credit_points and programme.qualification == 1 %}
					<span title="Credit-bearing module within a non-credit-bearing programme" class="text-danger">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
				{% endif %}
				{{ module }}</a>
			</td>
            <td>{{ module.start_date | date }}</td>
            <td>{{ module.end_date | date }}</td>
            <td class="col-xs-3">{{ module.status.short_desc }} ({{ module.enrolment_count | default:0 }}/{{ module.max_size | default:'∞' }})</td>
            <td>
                <a href="#"
                    data-toggle="modal"
                    data-target="#confirm-remove-module"
                    data-href="{% url 'programme:remove-module' programme.id module.id %}?next={{ request.get_full_path }}#modules"
                ><span class='fas fa-times'></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% bootstrap3modal 'confirm-remove-module' 'Are you sure you wish to remove this module from this programme?' 'danger' 'Remove' %}

<div class="section">
    <a id='students' class='nav-anchor'></a>
    <h2>Students</h2>
    {% if students|length >= 200 %}
    <div class="alert alert-warning" role="alert">
        <span class='fas fa-exclamation'></span> Showing only the 200 most recent students
    </div>
    {% endif %}
    <table class="table table-condensed table-striped table-hover hide-rows">
    <thead><tr><th>Student</th><th>Start date</th><th>Leaving date</th><th></th></tr></thead>
	{% for qa in students %}
        {% ifchanged %}
            <th colspan="100%">{{ qa.academic_year }} </th>
        {% endifchanged %}
        <tr>
            <td><a href='{{ qa.student.get_absolute_url }}'>{{ qa.student }} </a></td>
            <td>{{ qa.start_date | date  }}</td>
            <td>{{ qa.end_date | date | default:'—' }}</td>
            <td><a href='{{ qa.get_absolute_url }}'><span class='fas fa-search'></span></a></td>
        </tr>
	{% endfor %}
    </table>
</div>

{% endblock %}
