{% extends 'feedback_layout.html' %}
{% load feedback_tags %}
{% load redpot_tags %}

{% block center %}
    <div class="section">
        <p>The following students will be contacted by email for feedback</p>
        <table class="table table-condensed table-striped hide-rows table-bordered">
            {% if list_dict %}
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
                {% for student in list_dict %}
                <tr>
                    <td><a href="{% url 'student:view' student.student_id %}" target="_blank">{{ student.surname }}, {{ student.firstname }}</a></td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.action }}</td>
                </tr>
                {% endfor %}
            {% endif %}

        </table>

        <h4>Preview</h4>
        <div class="card card-body bg-light">
            {% if email_preview %}
                {{ email_preview }}
            {% else %}
                <p>No enrolments found to send emails.</p>
            {% endif %}
        </div>
        <br>
        {% if Send_email_button %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#commonModal"
                            data-modal-href="{% url 'feedback:request-feedback' module_id %}"
                            data-modal-body="Are you sure you wish to send these emails to students?"
                            data-modal-confirm-text="send"
            >Send emails
            </button>
        {% endif %}
    </div>
{% endblock %}
